[2021-09-06 11:26] stuartarchibald commented on #7366
This is fixed by https://github.com/numba/numba/pull/7265

[2021-09-06 11:29] stuartarchibald commented on #7368
Are the proposed functions from `SciPy`? If so they probably ought to go into https://github.com/numba/numba-scipy?

[2021-09-06 12:07] stuartarchibald commented on #7370
Thanks for the request. Have updated the title to reflect the need to link string source to debug output. Another option might be to patch the code objects and inject into `linecache`.

[2021-09-06 12:17] folded opened #7376 "Instances of undefined behaviour"
I've been going through the output of the numba test suite for undefined behaviour sanitizer errors. There are a couple of trivial ones that I'll add PRs for, but this one is a bit more complex (and worrying):

[code]

Which is correct given the 4th args value (nil) below.

[code]

The calling code does:
[code]

which looks suspicious, but I haven't been able to follow the logic quickly enough to

[2021-09-06 12:37] stuartarchibald commented on #7376
Thanks for the report, I can reproduce. This does look suspicious, doesn't seem to readily occur under a `prange` driven loop though so probably worth looking at the call site for `stencil` first. It also occurs in the other threading backends.

[2021-09-06 12:49] stuartarchibald commented on #3158
Yes, still reproduces on 0.54.

Not that I'm aware of I'm afraid.

[2021-09-06 12:55] stuartarchibald commented on #7369
@FirefoxMetzger thanks for looking at implementing this. A guide to using `@overload` is [here](https://numba.readthedocs.io/en/stable/extending/overloading-guide.html) and API documentation is [here](https://numba.readthedocs.io/en/stable/extending/high-level.html#implementing-functions).

It may be useful to take a look at examples of pull requests adding support for a NumPy function that have a

[2021-09-06 12:57] stuartarchibald commented on #7374
Thanks for looking at this, I suggest the same as for https://github.com/numba/numba/issues/7369#issuecomment-913627590. Thanks!

[2021-09-06 12:58] stuartarchibald commented on #2933
@polkovnikov I don't think that support has been updated any further (currently on 0.54).

[2021-09-06 13:10] sgbaird commented on #4310
And for reference, a workaround to using the `__init__` and `self` constructs of a Python class is using environment variables. For example:
Define:
[code]
Load:
[code]
The `reload` was important for me when I wasn't restarting the Python kernel every time (otherwise it was only using the environment variable the first time it was set) ([source](source: https://stackoverflow.com/a/1254379/13697228

[2021-09-06 13:26] stuartarchibald commented on #7371
Thanks for the request. Permitting the use of string based C/C++ code in Numba is possible but probably practically quite difficult. It would require Numba to "know" about the `clang` compiler or interface with the relevant parts of it it cf. `llvmlite`/LLVM and all the challenges that brings (text/bitcode repr, which LLVM versions in use, finding the tool chain etc). I'll raise this at the weekly

[2021-09-06 14:32] esc commented on #7354
the label on anaconda.org: `ci_llvmlite_0.38` was removed, it was a temporary storage for some experimental packages.

[2021-09-06 14:38] JSKenyon commented on #7365
[code]
I am not sure if this is identical, @ehsantn. Is the problem in your case also related to `prange`? I am also running into issues.

[2021-09-06 14:39] JSKenyon commented on #7365
The traceback for the above is:
[code]

[2021-09-06 15:08] sgbaird commented on #2571
A modified version of the workaround described by @philippeller (I'm pretty sure this was on stackoverflow, but I'm having trouble finding it). Converts `prange` to `range` as appropriate, allows for the function to already be indented by an arbitrary amount and allows for some CUDA and non-CUDA specific args. Still hackery, though.

[code]

[2021-09-06 17:05] stuartarchibald commented on #7365
Is this a MWR (based on the above)?
[code]
if so, I think the issue is that the inliner renames the variable `i` in the `bar` function as a version of `i` and adds it to the scope. Then in parfors, the failure comes from here:
https://github.com/numba/numba/blob/7f72315f0bf672729b5a6eaf004aa9061e8bf0f5/numba/parfors/parfor.py#L2673-L2684
where the scope is checked and if it is in the scope the unv

[2021-09-06 17:23] stuartarchibald opened #7378 "Type annotations are not handled well by @overload signature validation"
## Reporting a bug

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

This:
[code]
does this:
[code]
Context xref: https://gitter.im/numba/numba?at=6130029afd7409

[2021-09-06 18:43] polkovnikov commented on #7371
@stuartarchibald Looking at your example [here](https://llvmlite.readthedocs.io/en/stable/user-guide/binding/examples.html). If I understand correctly, this example compiles IR and wraps it into ctypes function `cfunc(a, b)`.

If I use such `cfunc()` from Numba's njitted-function then I think this function is NOT INLINED into njitted-function, right?

By inlining I mean not just placing a `call` i

[2021-09-07 00:23] phanirohith commented on #25
I tried both versions numba 0.48.0, 0.51.1, still, the if loop is getting failed.

[2021-09-07 02:41] sgbaird commented on #7368
@stuartarchibald, the CUDA implementation makes it a bit hard to integrate. I do have a @njit implementation that would be more suitable.

[2021-09-07 05:35] hn-sl opened #7379 "try .. finally construct throws AssertionError when try block throws exception"
## Reporting a bug

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
numba version : 0.53.1 and 0.54.0
[code]

```test1()``` success but ```test2()``` and ```test2(True)``` throw below error.

AssertionError: Unreachable condition reached (op code RERAISE executed)
---------------------

[2021-09-07 06:41] esc commented on #7379
@hn-sl thank you for reporting this. I am unable to reproduce this on OSX using Conda Python 3.8.2. Which platform (operating system and architecture) and version of Python are you using?

[2021-09-07 06:44] esc commented on #25
@phanirohith thank you for bringing this to our attention. This seems like a regression. Can you please open a new issue and add the code your have as a reproducer. We will take a closer look then. Thank you!

[2021-09-07 06:49] JSKenyon commented on #7365
Thanks for simplifying @stuartarchibald - I threw together that example in a hurry. I am not surprised that that is the source of the error - it is consistent with what I imagined.

Is this to be considered a bug, it is it a user error? I ask because ensuring uniqueness of variable names in complicated code could be challenging.

[2021-09-07 06:54] hn-sl commented on #7379
I tested on x86_64/20.04.2 LTS and x86-64/amazon linux 2 with python version 3.9.5 manually installed from source code. I got same error on both platform.

[2021-09-07 07:07] esc commented on #7379
@hn-sl thank you for reporting back. I can confirm I am able to reproduce this using Python 3.9 on OSX:

[code]

[2021-09-07 08:51] stuartarchibald commented on #7379
From memory, `RERAISE` https://docs.python.org/3/library/dis.html#opcode-RERAISE is Python 3.9 only, IIRC it's not yet handled and is usually caught elsewhere.

[2021-09-07 09:20] stuartarchibald commented on #7365
No problem.

It's a bug, but one of those bugs where a decision will have to be made about where to fix it. Parfors should probably just handle this use case, but that is easier said than done. CC @DrTodd13 what do you think?

@JSKenyon What's the reason for setting `inline='always'` in your code? Obviously it should "just work" but if you can get away without using it that'd be a work around for

[2021-09-07 09:28] JSKenyon commented on #7365
Apologies if I derailed the issue!

It is not a roadblock for me at present. The `inline='always'` was there because in my real code this is about 7 loop levels deep and I wanted to be sure that the function call was elided. This may be an error on my part - I would be lying if I said I perfectly understood the if and when's of inlining.

[2021-09-07 12:12] stuartarchibald opened #7380 "Inlining functions with loops with the same induction variable name in python source causes parfors fail."
## Reporting a bug

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

This:
[code]
Does this:
[code]
debug info is here:
https://github.com/numba/numba/issues/736

[2021-09-07 12:16] stuartarchibald commented on #7365
Not at all, thanks for reporting it, I'm fairly sure it's a related problem, but just perhaps not exactly the one @ehsantn can see. I've opened https://github.com/numba/numba/issues/7380 for more discussion.

I see, there's a reasonable chance that LLVM would inline it anyway. There's some notes on what the Numba inliner does (and what LLVM does) here: https://numba.readthedocs.io/en/stable/develo

[2021-09-07 19:35] sklam commented on #7356
I found out that `cloudpickle` is serializing `Test` when it is not importable. A class (e.g. `Test`) is usually importable when it is defined as a global of a module. However, the failing case is when the class is defined in the `__main__` module. The cloudpickle code is rejecting to import from `__main__` even though it appears to be possible.

Since `Test` is serialized allow with the code in `

[2021-09-07 21:13] polakowo opened #7382 "Integer index interpreted as float in parallel mode"
## Reporting a bug

- [ x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [ x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

The following snippet

[code]

fails with

[code]

while it works for `parallel=False`.

T

[2021-09-07 21:42] sklam commented on #7356
The problem is pretty much down to this if-statement in cloudpickle: https://github.com/cloudpipe/cloudpickle/blob/343da119685f622da2d1658ef7b3e2516a01817f/cloudpickle/cloudpickle.py#L300-L301
Why does cloudpickle reject handling `__main__`? Commenting it out appears to work for this issue.

[2021-09-08 02:21] auderson opened #7383 "str is parsed as unicode_type thus can't be passed as str argument to func like np.argsort"
## Reporting a bug

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

[code]

[code]
[code]

It seems `kind` is parsed as `unicode_type` in this case. For now thi

[2021-09-08 13:14] PhilipVinc commented on #6927
bump again.
What would it take to modify the internals of numba to use double underscores?

[2021-09-08 13:17] PhilipVinc commented on #5149
@gmarkall thanks for tagging me.

For info: If I tackle this issue with a PR how long will it take for it to end up in a released branch?

Regardless, i'd like to try to attack it.
It would be my first PR to numba but I think i have a decent idea of the internals of numba to attempt it.

Could you just point me in the right direction of what would be the steps to undertake, roughly?

[2021-09-08 13:46] stuartarchibald commented on #6927
@PhilipVinc feel free to open a PR. @sklam seems happy with the proposed alteration.

[2021-09-08 16:31] ehsantn commented on #7365
@stuartarchibald your reproducer captures the issue well. I just tried it and adding `mk_unique_var` fixes the issue. The problem is name conflicts during inlining. Bodo has a lot of IR nodes inlined in various ways in several transformations in general.

Just adding an extra `mk_unique_var` in this line doesn't seem to hurt anything. Is the intention to break existing code so everyone is forced t

[2021-09-08 16:32] sklam commented on #7382
This is a known problem with the casting rule borrowed from `numpy` for `int64` and `uint64`.

[code]

`prange` may yield `uint64` due to optimization reasons.

[code]

A workaround for this problem is explicitly casting `col` for `int64`; for example:

[code]

[2021-09-08 16:34] sklam commented on #7382
Duplicate of https://github.com/numba/numba/issues/5801

[2021-09-08 16:35] #7382 closed

[2021-09-08 16:39] sklam commented on #7383
Thank you for the report.

Due to limiation of type inference, Numba requires the `kind` argument in `argsort()` to be a literal string. In other words, the compiler needs to know the value in `kind`. The statement `kind =  'mergesort' if a == 1 else 'quicksort'` makes it impossible to tell what `kind` will be at compile-time. Your workaround avoids this problem.

[2021-09-08 16:41] polakowo commented on #7382
Got it, thanks @sklam

[2021-09-08 17:11] sklam commented on #7356
answer: https://github.com/cloudpipe/cloudpickle/issues/131

[2021-09-08 17:57] stuartarchibald opened #7385 "nrt_external API broken in 0.54"
- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

This is based on `numba.tests.test_nrt.TestNrtExternalCFFI.test_allocate`:
[code]
under gdb:
[code]
looks like t

[2021-09-08 19:08] stuartarchibald commented on #7385
Note: Compiling any function that needs the NRT ahead of calling `test_allocate` "fixes" the issue.

[2021-09-08 19:24] stuartarchibald commented on #7385
Adding:
[code]
to the top of the script also fixes it.

This must be called ahead of using the NRT to set up the `atomic*` functions:
https://github.com/numba/numba/blob/f03b742f08bdfff98d9d7962838d14ce2b866403/numba/core/runtime/nrt.py#L20-L51
and the method takes a `numba.core.BaseContext` instance, of which the `numba.core.cpu.CPUContext` is the default impl, and it initialises the runtime here

[2021-09-08 20:41] gmarkall opened #7387 "Potential race condition in CUDA initialization"
In: https://github.com/numba/numba/blob/f03b742f08bdfff98d9d7962838d14ce2b866403/numba/cuda/cudadrv/driver.py#L226-L241

Because `self.is_initialized` is set to `True` before any initialization is attempted, two threads can race:

- Thread 1 sees that `is_initialized` is `False`, enters `initialize()`, sets `is_initialized` to `True`, then starts logging and going into `cuInit()`
- Thread 2 meanwh

[2021-09-09 02:15] auderson opened #7389 "lowering error in certain conditions"
## Reporting a bug

- [ ] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [ ] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

Hi,
I wonder if this is a bug:
[code]
the difference of these 2 inner functions is the way o

[2021-09-09 02:58] njriasan opened #7390 "Compilation Time Increases ~40% with Numba 0.54"
- [X] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

Hello, I am engineer at Bodo and we recently upgraded our Numba version to 0.54. Upon doing so, we noticed significant compilation time increases, including our testing suite taking much longer to run. As a benchmark we ran the whole suite of TPCH queries and noticed that w

[2021-09-09 03:00] njriasan commented on #7390
I will be investigating various PRs added from Numba 0.53 to Numba 0.54 to gauge their impact on compilation time with this benchmark. If anyone has any suggestions on which PRs to explore I would highly appreciate it. Thanks!

[2021-09-09 06:48] siqi-zZ opened #7391 "Can Python3.6 use for numba?"
Hi, I used python3.6 install numba(pip3 install numba==0.48.0),
[code]
but when I try
`import numba`
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/anaconda2/envs/test_py3/lib/python3.6/site-packages/numba/__init__.py", line 29, in <module>
    import numba.core.types as types
AttributeError: module 'numba' has no attribute 'core'

Is numba can't use in python3.6

[2021-09-09 06:54] esc commented on #7391
Python 3.6 is indeed supported. The issue here is that you need to setup a new virtual environment and install a fresh version of Numba. Latest is 0.54.0.

[2021-09-09 07:14] siqi-zZ commented on #7391
Think you, I see
[code]
pip3 install numba==0.54
ERROR: Could not find a version that satisfies the requirement numba==0.54 (from versions: 0.1, 0.2, 0.3, 0.5.0, 0.6.0, 0.7.0, 0.7.1, 0.7.2, 0.8.0, 0.8.1, 0.9.0, 0.10.0, 0.10.1, 0.11.0, 0.12.0, 0.12.1, 0.12.2, 0.13.0, 0.13.2, 0.13.3, 0.13.4, 0.14.0, 0.15.1, 0.16.0, 0.17.0, 0.18.1, 0.18.2, 0.19.1, 0.19.2, 0.20.0, 0.21.0, 0.22.0, 0.22.1, 0.23.0, 0.23.

[2021-09-09 07:19] esc commented on #7391
If you use `conda` you can make a new environment with Numba using:

[code]

And then activate with

[code]

Let us know if this works.

[2021-09-09 07:46] siqi-zZ commented on #7391
hahahaha It's work !!!! Thank you very much~

[2021-09-09 07:48] siqi-zZ commented on #7391
It's working!!! thank you very much

[2021-09-09 08:48] esc commented on #7391
You are welcome, thank you for using Numba!

[2021-09-09 08:48] #7391 closed

[2021-09-09 09:10] esc opened #7392 "ERROR: test_azure_config (numba.tests.test_runtests.TestCase)"
After adding some of the optional dependencies to testing phase of the Anaconda internal build farm, the following test failure was detected, when testing the built conda package:

[code]

The assumption is, that this is related to `pyyaml` being installed. Fix is probably to skip if file not present.

[2021-09-09 09:21] stuartarchibald commented on #7287
Closing this issue due to lack of information. If more information becomes available please add it and reopen the issue. Thanks.

[2021-09-09 09:21] #7287 closed

[2021-09-09 09:35] stuartarchibald commented on #7373
Thanks for the report. I think support for `where=` and which instructions get generated are different concerns. First thing would be to write the handling for `where=`, second would be to consider optimising the path. I'll leave this as a feature request as it's something Numba doesn't support yet.

As a work around, Numba is entirely happy with looping code, so perhaps either write a loop nest o

[2021-09-09 14:07] sklam commented on #7390
@njriasan, I am guessing the overload glue PRs, e.g. https://github.com/numba/numba/pull/6762, https://github.com/numba/numba/pull/6961, https://github.com/numba/numba/pull/7049, etc) will have the biggest impact if Bodo is compiling a lot of small functions.

[2021-09-09 16:01] ogauthe opened #7394 "iteration fails in tuple comprehension"
Hello,

As discussed on [gitter](https://gitter.im/numba/numba?at=613a2952d206b85e4f8c176e), I found a bug in list comprehension when passing a tuple as input:
[code]

While these functions are pretty much the same, `f3` does not compile with error
[code]
numba version `0.53.1`

[2021-09-09 16:14] MegaIng commented on #7394
Seems to be related to #6550

I also poked around a bit and found what I believe to be the source of the error:

https://github.com/numba/numba/blob/e6c4bd1dd3badaf7b3de414b0e730a9f5291d0ce/numba/core/inline_closurecall.py#L1044

The function `_find_iter_range` raises `GuardException` when it does not find a `range` iterator. This exception is turned into `None` by `guard` (as expected). However,

[2021-09-09 16:25] njriasan commented on #7390
Thanks @sklam I took a look at these PRs and I tested reverting the overload glue. It seemed to have an impact on the full suite (~30 seconds), although timings can vary. One thing I've noticed is that the code seems to spend much longer in `with_lifting` than previously, despite no code moving to objmode. From my timing this went from ~3 seconds -> ~33 seconds. Any ideas?

[2021-09-09 17:08] sklam commented on #7390
hm... `with_lifting`, i'll take a look into it. Can you give me the specifics on how to measure the `~3 seconds -> ~33 seconds`? Like which commits you are comparing and what test

[2021-09-09 17:24] njriasan commented on #7390
So to measure compilation time I'm using a Numba branch I have that tracks where time is actually being executed in recursive compilation. https://github.com/njriasan/numba/tree/nick/stack_timers. I will get a dev version available that's compatible with Bodo 2021.8 and 2021.8.1 and create separate branches for Numba 0.53 and Numba 0.54.

Once this is finished I'll update this issue and include in

[2021-09-09 20:53] FirefoxMetzger commented on #7354
I ran into the same issue while setting up a dev environment (new to numba, and preparing my first PR 😄). I guess the correct instruction to fix this is to use the dev channel as suggested by @esc ?

[code]

[2021-09-09 21:06] esc commented on #7354
Yes, that is one correct way to obtain developmental releases of llvmlite.

[2021-09-10 07:54] esc commented on #6658
Closing this issue as no new information has been provided. It is assumed that the above resolved the reported issue, if this is not the case please reopen the issue with new information. Many thanks.

[2021-09-10 07:54] #6658 closed

[2021-09-10 10:13] lfaucheux commented on #4713
<sub>***[unstaling]***</sub>. That's what I've come to.

[code]

where `ON_LINUX`, `ON_DARWIN` and `ON_WINDOWS` are defined as you do in [`__init__.py`](https://github.com/numba/numba/blob/master/numba/__init__.py#L154). Also I do not remember why I restricted the approach to 64bit systems (?)

[2021-09-10 10:53] stuartarchibald commented on #7394
Thanks for debugging this @MegaIng, the fix you describe will prevent this problem from occurring and I think given the nature of what the optimisation subsequently does it is an appropriate way to fix it. A PR with unit test based on the bug added to: https://github.com/numba/numba/blob/e6c4bd1dd3badaf7b3de414b0e730a9f5291d0ce/numba/tests/test_comprehension.py#L241 would be welcomed if you have t

[2021-09-10 11:02] stuartarchibald commented on #7390
@njriasan can the issue with `with_lifting` be reproduced outside of the Bodo code base?

[2021-09-10 11:24] MegaIng commented on #7394
While writing the tests right now, I noticed that the most recent master apparently  transforms `f1_fine` in such a way that it now also breaks.

[2021-09-10 11:40] MegaIng commented on #7394
The fix does not work. It breaks a few tests in the same class: https://github.com/numba/numba/blob/e6c4bd1dd3badaf7b3de414b0e730a9f5291d0ce/numba/tests/test_comprehension.py#L401, https://github.com/numba/numba/blob/e6c4bd1dd3badaf7b3de414b0e730a9f5291d0ce/numba/tests/test_comprehension.py#L274 and https://github.com/numba/numba/blob/e6c4bd1dd3badaf7b3de414b0e730a9f5291d0ce/numba/tests/test_compr

[2021-09-10 11:43] stuartarchibald commented on #7394
Thanks. On which version of Numba does it work? I can't reproduce it working on 0.53.1:
[code]

[2021-09-10 11:46] MegaIng commented on #7394
@stuartarchibald For me it works on 0.54.0 .

[2021-09-10 11:49] stuartarchibald commented on #7394
Yes, are you on 3.7?

[2021-09-10 11:53] MegaIng commented on #7394
@stuartarchibald I have two different environments: One for numba development, and another where I have numba installed from pip. Both are Python version 3.9.4, but on the one with numba master `f1_fine` doesn't work, on the other it does.

[2021-09-10 11:57] MegaIng commented on #7394
Ok, no worries, I am stupid. My one version of `f1_fine` did not have a `numba.jit` decorator. It fails everywhere.

[2021-09-10 12:24] ogauthe commented on #7394
I run `f1_fine` with python `3.7.11`, numpy `1.20.3` and numba `0.53.1+8.gddf817af0.dirty`, it works. So yes probably python version.

[2021-09-10 12:24] stuartarchibald commented on #7394
RE failing tests, thanks for trying this out. I've taken a bit more of a look at the code and agree that the original suggestion will not work for the reasons you noted here: https://github.com/numba/numba/issues/7394#issuecomment-916838990, i.e. if there's no `range` then `range_iter_len` is used and it needs to work out the length of the iterator.

I think the issue here is that as the array com

[2021-09-10 12:59] MegaIng commented on #7394
I came to the same conclusion. I also think that renaming `range_iter_len` should be renamed (I choose `comprehension_iter_len`). It probably should also be moved to another module, including the tests, but for the moment I am just going to leave it there.

[2021-09-10 13:04] ehsantn commented on #7390
Why is reproducing outside Bodo necessary? From Numba point of view, Bodo just adds a few compiler passes which are mostly after `with_lifting`. The IR and compiler pipeline are visible. Unfortunately, it's hard to reproduce complex enough examples to reproduce these issues outside Bodo.

[2021-09-10 13:28] stuartarchibald commented on #7394
From what I can work out, this function is an intrinsic which when called on an iterable, returns the length of the iterable. I think it's constructing something like:
[code]
maybe `length_of_iterable` would be a good fit?

[2021-09-10 14:57] njriasan commented on #7390
If you have a suite of relevant large examples, I'm happy to explore them in pure Numba. However as @ehsantn said it would be very difficult for me to construct an example in pure Numba. We don't have any large examples that can be run purely in Numba.

[2021-09-10 16:06] njriasan commented on #7390
I've finished uploading and testing builds for both Numba 0.53 and Numba 0.54. Here are installation instructions

Numba 0.53:
[code]

Numba 0.54:
[code]

[2021-09-10 16:31] njriasan commented on #7390
In addition I've simplified the reproducers to two queries showing different issues. `parfor_increase.py` is the most expensive query and parfor pass is the most relevant stage. It increases by ~20 seconds in parfor pass alone between version. `with_lifting_increase.py` Is a smaller increase (only ~20%), but it shows with lifting nearly tripling in time (from ~1 -> ~2.8 seconds) and in general sho

[2021-09-10 17:23] stuartarchibald commented on #7389
Thanks for the report, I can reproduce. I think the issue is because the `inner_open` function could return `None`.
MWR:
[code]

This "fixes" the original problem by making the case where `None` is returned unreachable:
[code]

CC @DrTodd13 think this is a parfors issue.

[2021-09-10 21:38] #7344 closed

[2021-09-12 15:26] ogauthe commented on #4807
Hello,

I just ran into this issue with numba `0.53.1+8.gddf817af0.dirty`. As @dizcza, I am using `prange` with `njit(parallel=True, cache=True)`, no `ThreadPoolExecutor` or `ProcessPoolExecutor`. The first run, which call the compiler, has no issue but the second one, which use the cache, crashes with a segfault. This is can be prevented by not using the cache.

[2021-09-13 08:04] esc commented on #7299
https://github.com/numba/llvmlite/pull/730 has been merged and released with llvmlite 0.37.0 -- I assume this issue is now resolved? @fzimmermann89 please feel free to re-open in case the issue remains.

[2021-09-13 09:50] gmarkall commented on #5149
That's hard to answer because it depends on so many variables, but the general aim is to have four Numba releases per year.

I'd suggest having a look in `numba/np/arraymath.py` - you could try adding an implementation decorated with `@overload_method(types.Array, "tobytes")` to implement the `tobytes()` method. There are some other `@overload_method` implementations in that file - you could start

[2021-09-13 10:10] stuartarchibald commented on #7299
I don't think this will resolve it? The above seems to be due to two libraries dynamically linking to different versions of LLVM.

[2021-09-13 11:16] esc commented on #7299
OK, makes sense, let try to get a confirmation the bug still exists?

[2021-09-13 14:27] #7383 closed

[2021-09-13 14:38] stuartarchibald commented on #7392
Fixed in #7393

[2021-09-13 14:38] #7392 closed

[2021-09-13 16:00] phanirohith opened #7396 "if statement inside a for loop fails"
## Reporting a bug

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

Putting an if statement fails inside of a for a loop.
I was writing a code to append the val

[2021-09-13 16:03] gmarkall commented on #7396
The code alone doesn't work - there is no definition of `similar_sen`.

Could you please try with Numba 0.54, and if your code still doesn't work, paste an executable piece of code that reproduces the issue?

[2021-09-13 16:06] phanirohith commented on #7396
Hello gmarkall, can you check the edited version of the code now?

[2021-09-13 16:10] gmarkall commented on #7396
The following has no issues for me with Numba 0.54:

[code]

What are you observing?

(BTW, if you need to paste code, enclose it in triple backticks on a line by themselves: https://docs.github.com/en/github/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks )

[2021-09-13 19:57] phanirohith commented on #7396
It is working fine with Numba 0.54. Thank you gmarkall.

[2021-09-13 19:57] #7396 closed

[2021-09-14 06:44] polkovnikov opened #7399 "Allow getting pointer (address) to Numba's int/float variables"
Feature Request

-----------

For example I have some cffi or ctypes function that has a pointer `int64_t *` as one of its argument. I need to call this function passing pointer (address) of single-value `np.int64` variable. I found a way how to get and pass a pointer to any element of Numpy array, using `.ctypes` property. But didn't find any way of passing a pointer to int64 (`np.int64` or `numb

[2021-09-14 07:25] esc commented on #7399
@polkovnikov thank you for asking about this on the Numba issue tracker! I am not sure if such a function exists, so I have labeled this as feature request. If someone can point us to the requested function, then we can close this issue.

[2021-09-14 09:17] stuartarchibald commented on #7371
Correct, this example does do that. But in your case, you'd not access the function via ctypes, you'd just generate a call to it using an `@intrinsic` https://numba.readthedocs.io/en/stable/extending/high-level.html#implementing-intrinsics.

This is understood, and I think possible.

Yes, this is why you need to compile the external source to bitcode/LLVM IR and add that module to the library that

[2021-09-14 09:27] gmarkall commented on #7399
I think I recall seeing an example of using an `@intrinsic` function to get the address of variables - will see if I can find it.

[2021-09-14 09:36] gmarkall commented on #7399
Unfortunately I was thinking of this example where an int is cast to a pointer value: https://numba.discourse.group/t/passing-array-of-pointers-cfunc/661/2

I think it will be difficult in general in Numba to support taking the address of variables, because we don't have a well-defined concept of storage classes for variables in the frontend of Numba, unlike in C - so we'd need to do a lot of work

[2021-09-14 14:40] polkovnikov commented on #7399
@gmarkall Maybe at least there exists a workaround for this? Something more lighter than I suggested (I suggested using intermediate Numpy array).

For example if regular `numba.int64` can't give me its address then at least would be nice to have some special type like `numba.Int64WithStorage`, then I create a variable with this storaged type, copy `numba.int64` value into it, take address of stor

[2021-09-14 16:40] gmarkall commented on #7399
Possibly the `StructRef` documentation could indicate a route to a more lightweight workaround, if you had a struct with a single integer in it: https://numba.readthedocs.io/en/latest/extending/high-level.html?highlight=structref#implementing-mutable-structures

[2021-09-15 05:54] polkovnikov opened #7400 "Allow `pyobject` annotation on outgoing variables in `objmode`"
## Feature request

Would be great if outgoing variable type of objmode could be also pyobject. Imagine following toy example:

[code]

Here [gmpy2](https://gmpy2.readthedocs.io/en/latest/) is big integer artithmetics library for Python (based on well known GMP).

The main idea in this code is to allow `pyobject` outgoing types for objmode with main exception that all pyobject outgoing variables c

[2021-09-15 14:46] iguinn opened #7402 "guvectorize does not implement the numpy ufunc interface in versions 0.53+"
Hi, after upgrading numba from version 0.52.0 to either versions 0.53.0 or 0.54.0, I have found that the signature field of functions compiled using @guvectorize no longer is implemented.

Tested with:
numpy version 1.20.0
numba version 0.52.0, 0.53.0, 0.54.0

Here is a minimal working example:
[code]
When I try using this, here's what happens with 0.52.0:
[code]
And here's what I get with the new

[2021-09-15 14:57] gmarkall commented on #7402
I can reproduce this. The commit that introduced the issue is 925fd4c583094f4ea6852922c6bc9b86adf214b9.

[2021-09-15 14:59] gmarkall commented on #7402
The commit was in this PR: https://github.com/numba/numba/pull/5938

@guilhermeleobas Is it possible to add the `signature` property for dynamic gufuncs?

@iguinn Forgot to say earlier - many thanks for the report!

[2021-09-15 15:00] gmarkall commented on #7402
I've put this in the 0.55 milestone as we're so close to tagging 0.54.1, and this wasn't a regression specifically introduced in 0.54.0.

[2021-09-15 15:02] sklam commented on #7390
I am finding with `cProfile` that `ir_utils.py:1536(build_definitions)` and `ir.py:313(_rec_list_vars)` is running more often in 0.54.0

[2021-09-15 15:35] sklam commented on #7390
Here's some example of extra compilation in 0.54:

[code]

[2021-09-15 15:56] guilhermeleobas commented on #7402
Hi @gmarkall, yes, that's possible. I'll send a PR shortly. @iguinn, thanks for reporting this bug!

[2021-09-15 17:31] sklam commented on #7390
@njriasan

The extra `overload_get_array_if_series_or_index` compilation is happening under `bodo_series_pass`. In the images below, all `overload_get_array_if_series_or_index` compiler pass execution is colored (not greyed out).

0.53:
![0.53](https://user-images.githubusercontent.com/1929845/133480776-35544430-f35a-468b-8840-17e1ac3a10bd.png)

0.54:
![0.54](https://user-images.githubusercontent.

[2021-09-15 18:11] njriasan opened #7405 "Caching Silently Fails with Omitted Arguments"
## Reporting a bug

- [X] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [X] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

Here is a reproducer:

[code]

No matter how often you run this code, it will never cache. I

[2021-09-15 19:21] njriasan commented on #7405
This issue only arises when testing with different subprocesses, so I'm not sure how to best write a test for this inside Numba.

[2021-09-15 19:42] njriasan commented on #7390
@sklam Thank you so much! This is extremely helpful. I will use this information to investigate further within Bodo. Could you provide instructions on how you constructed the `Counter ` and Chrome trace information so that I can replicate these results?

I also wanted to share the numbers from my timer method for q19 in case it can provide any additional information. We do see a large difference i

[2021-09-15 20:03] gmarkall commented on #7405
Some of the CUDA tests use subprocesses, so you can follow this pattern: https://github.com/numba/numba/blob/master/numba/cuda/tests/cudadrv/test_ptds.py (note that you probably don't want a `'spawn'` context, but that is needed for CUDA to avoid a CUDA-specific hazard).

I think there was a related issue around the key of `Omitted` - I'll see if I can find it.

[2021-09-15 20:04] gmarkall commented on #7405
Ah, this is a duplicate of #6957.

[2021-09-15 20:11] #7405 closed

[2021-09-15 20:14] njriasan commented on #6957
@esc could you point me to the meeting notes where this issue was discussed or expand on why `id` is necessary? I'd like to work on this issue if possible.

[2021-09-15 20:22] sklam commented on #7390
I added the chrome event trace on top of your stacktimer branch. The patch is in https://gist.github.com/sklam/a049c859202df87f2b555dada2b31f07. With the patch, each run will generate a `perf.json`. You can read it with:

[code]

for example:

[code]

[2021-09-15 20:22] gmarkall commented on #6957
These are the minutes for the meeting, but there are no specific notes on this particular issue: https://github.com/numba/numba/wiki/Minutes_2021_04_27

[2021-09-15 20:25] gmarkall commented on #6957
A comment with some thoughts about the same fix for a related issue: https://github.com/numba/numba/issues/6173#issuecomment-850831761

[2021-09-15 20:29] danilo-bc opened #7406 "Support for Numpy convolve mode 'valid'"
## Feature request

I've been working with model simulations and there's the need for `np.convolve(a, k, mode='valid')`.

I wish to have support for this for use with `@jit`/`@njit` decorators.

I have this example implementation from one of the discussions about using Numba for such situation, but I'd rather not have to resort to it in projects which require valid mode.
[code]

[2021-09-15 21:44] njriasan commented on #6957
This comment (and the followup) discuss removing the `id(self._value)`, but it seems to me that just `id` should be removed. Is there a good reason we can't just use `self._value`? Rerunning your example:

[code]
I stilll get the output:
[code]

[2021-09-16 06:01] esc commented on #7301
Closing this now as the question has been answered. Please feel free to re-open in case the issue remains.

[2021-09-16 06:14] vantainguyen commented on #5521
can you show us the latest code?

[2021-09-16 06:38] vantainguyen opened #7407 "Untyped global name 'dblquad': Cannot determine Numba type of <class 'function'> : Scipy dblquad not work in Numba"
There is an error when I try to use scipy.dblquad in @njit function. How can I fix it?

## Reporting a bug

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

[2021-09-16 06:50] vantainguyen commented on #7407
Here are the codes!
# Import necessary library
from numpy import sqrt, sin, cos, pi, log, tan, pi
from scipy.integrate import quad, dblquad, tplquad
import numba
from numba import njit, jit

mu0 = 4*pi*10**-7

# Auxilliary function
@njit()
def main_func_Ha_1(H, a, r, z, delta, r1, theta):

    z1 = a*(r1*1000)**2/1000

    main_11 = -(z - z1)*r1
    main_21 = (r1**2 + r**2 - 2*r1*r*cos(delta - the

[2021-09-16 07:01] jni opened #7408 "Type inference failing when using a heapq of namedtuples"
Apologies that this question falls inside a reasonably complex function. I'm hoping the solution is obvious to more experienced Numba users. **Also apologies** that I am not posting this on the discourse: I am actually getting an error while posting it, "Sorry you cannot post a link to that host". 🤷

<img width="640" alt="Screen Shot 2021-09-16 at 4 59 49 pm" src="https://user-images.githubusercon

[2021-09-16 07:37] jni commented on #7408
Ok, I've managed to reproduce the error using a simpler plain watershed. Code [here](https://gist.github.com/jni/378d279658b8bf1147a7652242a4342f), the symptom is the same:

[code]

[2021-09-16 08:13] jni commented on #7408
Ah! A closer look at the heapq example in the [notebooks](https://nbviewer.jupyter.org/github/numba/numba-examples/blob/master/notebooks/Numba_043_release_demo.ipynb#Support-for-heapq-) pointed me to adding this line:

[code]

to the top of the function, and the warning goes away! 🎉

... however, the function is still 120x slower than the equivalent Cython function from scikit-image, which looks m

[2021-09-16 08:29] gmarkall commented on #7408
Your latest gist appears to measure the compilation time as well as the execution time. If you do a call to `raveled_watershed` prior to the timing section, what times do you then see?

See also: https://numba.readthedocs.io/en/stable/user/5minguide.html?highlight=measure#how-to-measure-the-performance-of-numba

[2021-09-16 08:31] gmarkall commented on #7407
Have you got [numba-scipy](https://github.com/numba/numba-scipy) installed?

[2021-09-16 08:33] vantainguyen commented on #7407
I have tried to install the numba-scipy package, but it was unsuccessful and the error as below:
ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\s4612643\\AppData\\Local\\Temp\\pip-uninstall-pybzu4hu\\integrate\\lsoda.cp38-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

How can I resolve this please?

[2021-09-16 08:39] gmarkall commented on #7407
As the error message suggests, you could try installing to the user site: https://packaging.python.org/tutorials/installing-packages/#installing-to-the-user-site

[2021-09-16 08:43] vantainguyen commented on #7407
I have used pip3 and installed numba-scipy successfully, and added "import numba_scipy" in the code.  But, the error still the same.

[2021-09-16 08:59] gmarkall commented on #7407
I tried to run your code without `@njit` and I got this traceback:

[code]

[2021-09-16 09:17] vantainguyen commented on #7407
Can you please replace two functions inte_1 and inte_2 in the code with those below:

@njit()
def inte_1(r1, theta, H=0., a=0., r=0., z=0., delta=0.):
    return main_func_Ha_1(H, a, r, z, delta, r1, theta)

@njit()
def inte_2(r2, theta, H=0., a=0., r=0., z=0., delta=0.):
    return main_func_Ha_2(H, a, r, z, delta, r2, theta)

[2021-09-16 09:56] stuartarchibald commented on #6957
You cannot guarantee the type is hashable.
[code]
will fail if the key contains the value.

[2021-09-16 10:00] gmarkall commented on #7407
It sounds like somehow `numba-scipy` is not installed properly - your script now works for me (completes without error) with `@njit` and the changes above. What is the output of `numba -s`?

[2021-09-16 10:22] maxnoe commented on #6957
@stuartarchibald Is this really a case for consideration? Mutable default arguments are a "nogo" in python and immutable types are hashable.

It seems strange to me to break the normal usecase (immutable, hashable default values) for something that is universally discouraged in the language.

I think it would be a very valid decision for numba to not allow unhashable default parameters.
It might b

[2021-09-16 10:28] gmarkall commented on #7407
After a little more research, it turns out that `dblquad` is not supported by numba-scipy - You may open a feature request in numba-scipy if you'd like to request / track support for it: https://github.com/numba/numba-scipy/issues

[2021-09-16 10:30] vantainguyen commented on #7407
what advice for me to solve the problem with double integral like dblquad? how can I still use numba?

[2021-09-16 10:32] esc commented on #6957
A fair point.

[2021-09-16 10:50] stuartarchibald commented on #6957
It was the most trivial thing to demonstrate the issue in `nopython` mode, indeed, don't use mutable default args :-)

It might be this that needs to be enforced as a requirement to create the necessary guarantees.

I do wonder what would happen in objmode where the hash of the key might involve calling hash on an object which inherits its `__hash__` from `object` itself and so ends up calling `id

[2021-09-16 11:18] jni commented on #7408
omg, thanks @gmarkall, I forgot that caching is not on by default! :facepalm: :sweat_smile: When I duplicate that code block I get:

[code]

:rocket: :rocket: :rocket:

After turning on caching, well, there's a bigger overhead than I'd
naively expect to use the cache, but definitely nothing dramatic:

[code]

Now to see whether I can port these improvements to the original problem! :tada: I'll clo

[2021-09-16 11:18] #7408 closed

[2021-09-16 13:27] gmarkall commented on #7407
I'd suggest creating a post on the Discourse group (https://numba.discourse.group) explaining what you're trying to do (with your example code), and ask if people have suggestions for what to do.

[2021-09-16 13:27] #7407 closed

[2021-09-16 18:53] njriasan commented on #7390
Thank you @sklam! I will use this information to continue the investigation.

I also wanted to inform you that one of our engineers found a bug in my stack timer code where it wasn't properly handling exceptions and thus was incorrectly tracking the amount of time spent in certain passes (such as `with_lifting`). I have updated those branches and reran the example.

Numba 0.53:

[code]

Numba 0.54

[2021-09-16 21:31] #6114 closed

[2021-09-16 21:31] #7385 closed

[2021-09-17 03:53] brandonwillard opened #7409 "`numba.vectorize` interface inconsistency between `target="cpu"` and `target="parallel"`"
`numba.vectorize` on 4911192c5 (and further back) appears to have the following interface inconsistency:
[code]

[2021-09-17 04:41] hn-sl opened #7410 "Support for Record type in jitclass"
---

## Feature request
It would be great if it was possible to have Record type member in jitclass.

[code]
[code]
This was tested on latest numba version (0.54.0)

[2021-09-17 12:01] voegtlel opened #7411 "jit(locals) are propagated to inline functions with same variable names"
## Reporting a bug

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG). (version is 0.54.0)
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

Hello there,
I'm trying to inline a very small function, and have set th

[2021-09-17 13:41] gmarkall commented on #7400
The numba-passthru package may be usable for this use case: https://pypi.org/project/numba-passthru/

[2021-09-17 13:50] gmarkall commented on #7406
Labelling as "good second issue" as most of the parts needed for the implementation are already present, but need connecting together. Se e.g. https://github.com/numba/numba/blob/master/numba/np/arraymath.py#L4230-L4251.

[2021-09-17 13:52] gmarkall commented on #7409
I can reproduce this.

[2021-09-17 13:56] gmarkall commented on #7410
I can reproduce this.

[2021-09-17 14:00] gmarkall commented on #7411
I can reproduce this.

It's also noted during discussion at the triage meeting that it's odd that the case to `nb.int32` seems not to be helping in this case.

[2021-09-17 14:02] esc commented on #7410
I can reproduce this, thank you for reporting. If you want a record member inside a jitclass, I would suggest trying to use a tuple as a temporary workaround, would that work for your use-case.

[2021-09-17 14:22] danilo-bc commented on #7406
Thanks for pointing it out! I'd need to set a test environment for that.

A simple
[code]
seems sufficient, right?

Either Numba will compile, or it will throw an error. Then the results should be easily testable with a couple more tests.

That said, I'd need to compile and use my personal version of Numba for those, and I'm definitely pretty lost in that regard. I currently installed it via `pip`

[2021-09-17 16:10] HPLegion commented on #7411
I had not time to check this, but could it be related to #5809 ?

[2021-09-17 16:28] HPLegion opened #7412 "Strange bug when combining jitclass, type annotation and TypedList"
## Reporting a bug

During a discussion on Gitter I ran into some strange issues when using a certain combination of jitclasses with Typed List fields and using them in a type annotation.

:point_up: [Gitter September 17, 2021 3:17 PM](https://gitter.im/numba/numba?at=6144957b4c7be06b79c20b06)

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log

[2021-09-17 16:41] HPLegion opened #7413 "Default constructor of jitclass not useable from jitted code"
## Reporting a bug

During a discussion on Gitter I noticed that a jitclass instance cannot be created from default arguments inside jitted code.

:point_up: [Gitter September 17, 2021 3:17 PM](https://gitter.im/numba/numba?at=6144957b4c7be06b79c20b06)

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/mast

[2021-09-17 17:44] PokhodenkoSA opened #7414 "Show function arguments does not work for debugging w/ GDB"
## Reporting a bug

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

Python code:

[code]

Debug session:

[code]

It seems that `info args` does not show argume

[2021-09-17 18:07] PokhodenkoSA opened #7415 "Function argument are not available at the first line when debugging w/ GDB"
## Reporting a bug

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

Python code:

[code]

Annotations:

[code]

Debug session:

[code]

It seems that when break

[2021-09-17 19:08] kozlov-alexey opened #7416 "Using literal dicts fails to compile when string keys hold numeric data"
- [ ] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

Hi!

Trying to use a LiteralStrKeyDict we found an issue, when string keys with numeric data are forbidden, e.g.

[2021-09-17 19:11] danilo-bc opened #7417 "[Feature Request] Support for Python collections.deque"
---
## Feature request
[The official Python 3.9.7 documentation](https://docs.python.org/3/library/collections.html) shows a few containers and their descriptions

Being specific, `deque` is still a popular FIFO implementation option for its robustness and performance, as in this [StackOverflow thread](https://stackoverflow.com/a/49800160/4913389).

I searched Numba forums and issues for deque sup

[2021-09-17 20:31] njriasan commented on #6957
I think we could just provide separate implementations for both situations. Something like this:

[code]

@stuartarchibald the changes I'm proposing are fairly simple and I'm happy to submit a PR. If you are worried about this use case could you provide me a example code segment that I could test this behavior on?

[2021-09-17 20:54] esc commented on #7417
@danilo-bc thank you for raising this, I have labelled it as a feature request accordingly.

[2021-09-17 21:01] esc commented on #7412
IIRC it is known that `jitclass` instances are not pickl-abel:

https://github.com/numba/numba/issues/6032

https://github.com/numba/numba/issues/6640

Not sure, maybe we should open or look for an issue that mentions `jitclass can not be pickled` as a reference? So we can close this and others as duplicates.

[2021-09-17 21:10] esc commented on #7413
Thank you, I can reproduce! Assume an issue in argument handling for the `jitclass` constructor.

[2021-09-17 21:11] jason-s commented on #7355
Does the fix for this issue cover reading from nested arrays as well?

https://numba.discourse.group/t/incompatible-functions-with-nested-arrays/883/7?u=jason_s

[2021-09-18 01:52] sgbaird commented on #7314
Devs still working on wording

[2021-09-18 13:29] polkovnikov commented on #7371
@stuartarchibald Can you tell in few lines of code how to write `@intrinsic` from LLVM IR assembly?

I've read https://numba.readthedocs.io/en/stable/extending/high-level.html#implementing-intrinsics but there IR is generated by IRBuilder. And in my case I have ready-made text of LLVM IR assembly like following:

[code]

For example having assembly code above how can I tell inside `@intrinsic` fun

[2021-09-18 13:34] polkovnikov commented on #7371
@stuartarchibald Can you tell in few lines of code how to write `@intrinsic` from LLVM IR assembly?

I've read https://numba.readthedocs.io/en/stable/extending/high-level.html#implementing-intrinsics but there IR is generated by IRBuilder. And in my case I have ready-made text of LLVM IR assembly like following:

[code]

For example having assembly code above how can I tell inside `@intrinsic` fun

[2021-09-18 20:18] ChrisPalmerNZ opened #7418 "Warnings regarding ROC toolchains, libhsa-runtime64.so"
I have installed numba on to a Ubuntu 20.04.2 machine, accessed via ssh from Windows 10 WSL2.

Checking the installation shows warnings about ROC toolchains.  Is this something I need to fix, if so, how? It might be related to an assumption about where files are located. I note that although numba is looking for these at `/opt/rocm/lib`, I do not even have a `rocm` directory under `/opt` - only th

[2021-09-19 14:57] ma-sadeghi commented on #4202
Any progress yet on this issue by any chance? Thanks!

[2021-09-20 07:36] esc commented on #4202
Not to my knowledge, no.

[2021-09-20 07:36] esc commented on #7322
Closing this issue as it seems to be resolved. If this is not the case please re-open with a comment about any item that appears to be unresolved. Many thanks.

[2021-09-20 07:36] #7322 closed

[2021-09-20 07:42] esc commented on #7418
@ChrisPalmerNZ thank you for asking about this. I am not sure anything needs to be done, if you can run Numba and execute the code you intend. I.e. the warnings can probably be ignored.

The `ROCm` target  was declared deprecated with 0.54.0:

https://numba.readthedocs.io/en/stable/release-notes.html#version-0-54-0-19-august-2021

I would assume that the warnings will disappear with newer versions

[2021-09-20 08:05] ChrisPalmerNZ commented on #7418
Thanks, I was running 0.53.1, have upgraded to 0.54.0

[2021-09-20 08:10] esc commented on #7418
OK, good, did it fix the warnings?

[2021-09-20 08:18] ChrisPalmerNZ commented on #7418
Yes ! :)

[2021-09-20 08:19] esc commented on #7418
Wonderful, thank you for reporting back and thank you for using Numba!

[2021-09-20 08:19] #7418 closed

[2021-09-20 09:47] stuartarchibald commented on #7415
Thanks for the report. I've a couple of ideas as to why this is happening, will start looking.

[2021-09-20 09:51] stuartarchibald commented on #7414
Thanks for the report. I'm pretty sure the bugs are one or a combination of:

Args are not enumerated (most likely):
https://github.com/numba/numba/blob/4911192c5b51f3ecbb76a12b74372979378c43a1/numba/core/debuginfo.py#L141

Subroutine type lacks metadata in the type decl:
https://github.com/numba/numba/blob/4911192c5b51f3ecbb76a12b74372979378c43a1/numba/core/debuginfo.py#L241

[2021-09-20 09:52] stuartarchibald commented on #7416
Thanks for the report. I think this is a duplicate of https://github.com/numba/numba/issues/6518 ? Fix is likely that noted here: https://github.com/numba/numba/issues/6518#issuecomment-736651396

[2021-09-20 09:55] stuartarchibald commented on #7412
Seems like a good idea!

[2021-09-20 10:12] stuartarchibald commented on #7409
Thanks for the report. I think something like this needs doing for the parallel target (fairly sure the below is why the `'cpu'` target works):
https://github.com/numba/numba/blob/4911192c5b51f3ecbb76a12b74372979378c43a1/numba/np/ufunc/dufunc.py#L80-L81
but it can probably just use the extension API for the determination of whether the function is already `@jit` wrapped: https://numba.readthedocs.

[2021-09-20 11:47] mpuputti opened #7420 "Debugger incorrectly shows zero value for variables"
## Reporting a bug

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

Python code:
[code]

Annotation:
[code]

Debugger:
[code]

When debugger hits the Python cod

[2021-09-20 12:07] stuartarchibald commented on #7420
Thanks for the report. Debugging this with:
[code]
and running as:
[code]
gives:
[code]
and
[code]
I've annotated the LLVM IR with the problems. xref https://github.com/numba/numba/issues/7415 and https://github.com/numba/numba/issues/7414 which are related.

[2021-09-20 12:33] stuartarchibald commented on #7420
With #7421 I get:
[code]
and LLVM IR:
[code]

[2021-09-20 14:38] HPLegion commented on #7412
I see, thanks for clearing that up :-)

[2021-09-20 18:08] njriasan commented on #6957
This didn't work exactly because this wasn't complete, but a `try except` with `hash` does accomplish this. I added a PR here: https://github.com/numba/numba/pull/7422. @stuartarchibald if you have an edge case you are concerned with can you suggest a test?

[2021-09-20 18:58] sklam opened #7423 "numpy 1.21 ufunc reduce segfault"
Failing test: `numba.tests.npyufunc.test_ufunc.TestUFuncs.test_ufunc_attributes`

[code]

[2021-09-20 18:59] sklam commented on #7423
Related to https://github.com/numba/numba/issues/7175

[2021-09-21 03:58] njriasan commented on #7390
Just wanted to give you an update. While we haven't fully resolved this issue, we believe the extra compilation is the result of our inlining step getting a cache miss. Now that compiler flags are part of the `cache_key`, at least some of this extra compilation comes from extra misses from mismatching values for `no_cpython_wrapper` (set to true by overload).

This comes at least partially from a

[2021-09-21 06:53] castarco opened #7424 "numba.jit strips away function type annotations, breaking mypy's analysis"
## Reporting a bug

- [X] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [X] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

`numba.jit` decorator strips away function's type annotations. This is problematic when usin

[2021-09-21 09:06] stuartarchibald commented on #6957
@njriasan I think something like this might trigger it, but am not sure how common or well considered practice this sort of thing is:
[code]

Am also wondering how this can be explained to users and if and how they can be warned about it.

[2021-09-21 17:57] c200chromebook opened #7426 "Loss of functionality in .54 - change in slicing behavior on user defined types"
possible dupe of : https://github.com/numba/numba/issues/7355
The following code worked prior to 0.54, but no longer will run:

[code]

Yields:

[code]

Expected behavior:
``` [([7,7,7],)]```

The bug affects CUDA as well but this is probably incidental.

[2021-09-21 18:42] c200chromebook commented on #7426
have confirmed still happens in `numba-0.55.0.dev0+299.gf299c6aa7-py3.7-win-amd64`

[2021-09-21 19:16] DannyWeitekamp opened #7427 "iter(Dict()) shows odd behavior + iter(List()) breaks"
Using Numba 0.54.0
They following minimal reproduction shows unusual behavior when callig iter() on an instance of Dict(). It seems like iter() instances are replacing each other on instantiation.

[code]

And for good measure this also fails
[code]

[2021-09-21 22:33] #7356 closed

[2021-09-22 08:12] esc commented on #7424
@castarco thank you for reporting this. Would you be so kind as to include exact steps for reproduction? I don't know what commands to run so I can't reproduce this issue. Thank you!

[2021-09-22 08:16] esc commented on #7426
@c200chromebook thank you for reporting this. I can reproduce, here is the full stack trace.

[code]

[2021-09-22 08:19] esc commented on #7426
I tried #7359  with this reproducer and the error went away. So that probably fixes this.

[code]

[2021-09-22 08:19] esc commented on #7426
@c200chromebook could you try #7359 and double check if that fixes it for you too?

[2021-09-22 08:37] esc commented on #7427
@DannyWeitekamp thank you for reporting this. I can reproduce. It would probably make sense to invest the time to reduce the size of the reproducer. It's hard to work out what is going on exactly.

[2021-09-22 08:38] esc commented on #7427
I have modified this to be like:

[code]

As this makes it a bit clearer what may be going on. It seems like the `next(it)` is iterating through the last/final dictionary in the list. The Python code shows what it should do. I thought initially, it might be an issue with how the dict keys are ordered, but the code doesn't seem to iterate over the first dictionaries at all.

[2021-09-22 08:39] esc commented on #7427
I am labelling this as a potential bug since I can reproduce it,  but the root cause must still be triaged.

[2021-09-22 09:03] esc commented on #7426
There is also #7428 as an alternative to #7359 -- might be worth trying that too.

[2021-09-22 09:05] esc commented on #7426
[code]

I can confirm that #7428 will fix this too.

[2021-09-22 10:57] stuartarchibald commented on #7427
I think this could be a smaller reproducer:
[code]
given the contents, I'd guess it's more likely a problem with iterators than containers.

[2021-09-22 13:18] stuartarchibald commented on #7414
https://github.com/numba/numba/pull/7177 fixes.

[2021-09-22 13:21] stuartarchibald commented on #7414
Example under #7177:
[code]

[2021-09-22 13:29] stuartarchibald commented on #7415
#7177 fixes. Example under #7177, conditional break point based on arg to function from induction variable.
[code]

[2021-09-22 13:38] rladeira commented on #2919
Just to complement @Wandersalamander's answer, I've been using a vectorized version of this snippet, which seems to work as expected.

`
@njit(
    signature_or_function=[
        'boolean[:](float32[:])',
        'boolean[:](float64[:])'
    ],
    fastmath=True, cache=True, nogil=True
)
def isnan(arr: np.ndarray) -> bool:
    nan_code = -9223372036854775808
    return arr.astype(np.int64) == nan

[2021-09-22 13:39] c200chromebook commented on #7426
can confirm that fixes it

[2021-09-22 13:42] esc commented on #7426
Great, thank you!

[2021-09-22 14:04] DannyWeitekamp commented on #7427
This works the same in a python and njitted function:
[code]
My guess is 1) it has something to do with  the loop instantiating all of the iterators in the same memory space because they share an intermediate variable or 2) adding it to the list is causing some issue:

It seems to work fine when adding things one at a time
[code]

But it breaks when the iterators are instantiated inside a loop
[co

[2021-09-22 18:15] sklam opened #7431 "Numba 0.54.1rc1 Checklist"
## numba 0.54.1rc1

* [x] Cherry-pick items from the X.Y.Z milestone into a PR.
* [x] Merge change log modifications and cherry-picks to X.Y release branch.
    * [x] https://github.com/numba/numba/pull/7430
* [x] Annotated tag 0.54.1rc1 on release branch (no `v` prefix).
* [x] Build and upload conda packages on buildfarm (check "upload").
* [x] Build wheels (`$PYTHON_VERSIONS`) on the buildfarm.

[2021-09-23 14:35] max9111 commented on #7399
@polkovnikov

This is an example using [double and double*](https://github.com/person142/numba_special/issues/1#issuecomment-568278201).

[2021-09-23 15:02] esc commented on #7431
Checklist update is here https://github.com/numba/numba/pull/7432

[2021-09-23 15:02] esc commented on #7431
@sklam is this for `0.54.1` or `0.54.1rc1`

[2021-09-23 17:24] polkovnikov commented on #7399
@max9111 Thanks, this `value<->pointer` conversion instrinsic is exactly what I need!

Can you please tell - can I pass any type (including i8/i16/i32/i64/f32/f64) as arguments to functions `ptr = cgutils.alloca_once_value(builder,args[0])` and `val = builder.load(args[0])`? Not just float64?

[2021-09-23 18:12] max9111 commented on #7399
@polkovnikov

I don't see a reason why the following code should not work for  (i8/i16/i32/i64/f32/f64) , but I haven't tested it thoroughly.

[code]

[2021-09-24 00:19] njriasan commented on #7390
We confirmed the only Numba related issue we were seeing was the caching change. I'm closing this issue. Thank you so much for all of your help.

[2021-09-24 00:19] #7390 closed

[2021-09-24 03:32] gystar opened #7433 "dump-llvm hangs"
test.py:
`a=int(input())
b=int(input())
print(a-b)`

I want convert test.py to llvm ir. But it hangs and does nothing, the commandline is :
`numba --dump-llvm test.py`

Iinfomation:
Name: numba
Version: 0.53.1
Summary: compiling Python code using LLVM

[2021-09-24 07:20] esc commented on #7433
Thank you for asking about this @gystar -- I am not sure what you are trying to achieve. The Python code you listed is syntactically incorrect, perhaps that is the reason that `numba` hangs?

[code]

I would suggest crafting a syntactically correct Python file first and then trying Numba on that.

[2021-09-24 07:23] gystar commented on #7433
Thanks!

Test.py :
a=int(input())
b=int(input())
print(a-b)

I want to use numba to generate llvm ir from test.py.

[2021-09-24 07:31] gystar commented on #7433
I find that numba will run Test.py first , and then print the output (inculde LLVM IR of some functions decorated by jit )
So is hangs because Test.py need some input.
But how can I get LLVM IR for the following python code:

a=1
b=2
print(a-b)

[2021-09-24 07:37] esc commented on #7433
Numba is a Just In Time (JIT) compiler, so you need to run the code once for it to be compiled.

[code]

[code]

And then finally:

[code]

[2021-09-24 07:46] gystar commented on #7433
Thanks.

[2021-09-24 07:46] #7433 closed

[2021-09-24 07:49] esc commented on #7433
No Problem and thank you for using Numba!

[2021-09-24 08:03] hn-sl opened #7434 "TypeError when calling jitclass method with optional type member"
## Reporting a bug

- [v ] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [ ] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

[2021-09-24 14:42] Rodot- commented on #2677
Has there been any work on this?  I've been able to build a workaround but it has big performance losses and throws a ton of warnings.  Would be really nice to have this to allow for easy optimization based on user-defined config options

[code]

[2021-09-24 14:57] esc commented on #7434
@hn-sl thank you for reporting this. I can confirm I can reproduce this on current `master`.

[2021-09-27 07:22] esc commented on #7341
I am removing the stale and needtriage labels so this can remain a feature request.

[2021-09-27 07:23] esc commented on #7390
@njriasan thank you for following up and closing this issue.

[2021-09-27 14:36] max9111 commented on #7399
@gmarkall Can you give an example, where you expect issues, with the code from above? Isn't `cgutils.alloca_once_value()` a lightweight workaround (allocating stack memory, copying the provided value to this allocated stack-memory and returning a pointer to that stack memory), or do I get something wrong here?

[2021-09-27 14:41] esc commented on #7426
Closing now as #7428 was merged!

[2021-09-27 14:41] #7426 closed

[2021-09-27 14:44] sklam commented on #7355
Bug fix merged and available in 0.54.1

[2021-09-27 14:44] #7355 closed

[2021-09-27 14:44] #7431 closed

[2021-09-27 14:51] esc commented on #7434
Interestingly enough, the following is fine:
[code]

[2021-09-27 14:53] esc commented on #7434
The error comes from here:

https://github.com/numba/numba/blob/master/numba/core/optional.py#L118

[2021-09-27 15:19] #7323 closed

[2021-09-27 16:26] polkovnikov commented on #7399
@max9111 I see you're very familiar with writing intrinsics. Can you please help with offtopic question - if I have any LLVM-IR-assembly function like below:

[code]

can I wrap this function call inside `@intrinsic`? Of course I can wrap it using `cfunc` (through `CFUNCTYPE`) module. But the idea is to use `@intrinsic` only because this will allow LLVM to do all optimizations and allow inlining o

[2021-09-27 22:13] guilhermeleobas opened #7436 "Suppress `fprintf(stderr, ...)` from tbb"
Currently, when something goes wrong when executing `tbb::prepare_fork`, the implementation writes to `stderr` using `fprintf` function (see snippet below). However, it does not seem possible to capture `stderr` from Python when using `tbb` as the threading layer. If possible, I'd like to suppress this message by returning the error to the python land.

https://github.com/numba/numba/blob/e617b39a

[2021-09-28 08:51] gmarkall commented on #7399
I don't expect issues with this. My concern was around more general support for taking the address of variables, where you do something like:

[code]

[2021-09-28 08:54] stuartarchibald commented on #7436
Thanks for the report. I think this should be raised for discussion at today's public meeting:
https://numba.discourse.group/t/weekly-public-meeting-every-tuesday-for-2021/658/2

I'm not sure how feasible this is, multiple threads could all hit that block and then "raise". Also, currently, there's no mechanism for unwinding in the threading layers, though I suppose with quite a bit of work all thi

[2021-09-28 09:41] stuartarchibald commented on #7371
@polkovnikov here's an example of how to do what's in the OP, the other cases you have mentioned are simplifications of this. I hope at some point to extract some useful parts into Numba's public extension API (the part about linking in some bitcode). The thing I've not sorted out yet in this example is the forcible inlining of the functions defined in the C source.

[code]

[2021-09-28 11:22] max9111 commented on #7399
I am not very familiar with writing intrinsics, but here is a working example https://github.com/numba/numba/issues/2795#issuecomment-472013539

[2021-09-28 11:44] stuartarchibald commented on #7399
RE: Numba consuming LLVM IR, there's an example [here](https://github.com/numba/numba/issues/7371#issuecomment-929027456) that invokes clang on some inline C string, it'd be easy to modify this to use [`parse_assembly`](https://llvmlite.readthedocs.io/en/stable/user-guide/binding/modules.html#llvmlite.binding.parse_assembly) instead of [`parse_bitcode`](https://llvmlite.readthedocs.io/en/stable/us

[2021-09-28 21:33] sklam commented on #6957
@stuartarchibald, the `hash()` or `id()` pattern is already used in https://github.com/numba/numba/blob/e617b39a0b4b23d7b69d16f482fd66b4ac6cc307/numba/core/types/abstract.py#L427-L432.

I don't think the `def foo(x, y=_default_parameters):` is common. This is similar to the case of using mutable values as the default value. There is nothing protecting user from doing so. At best, we can put it in

[2021-09-29 05:16] polkovnikov commented on #7371
@stuartarchibald Your code above, without modifications, doesn't compile on my Numba - I have Win-64 Python `3.9.1`, Numba ver `0.54.0`, LlvmLite `0.37.0`. It throws [this](https://pastebin.com/raw/2gMWDyrX) compile error (`Cannot request literal type` at line `112` (line `c_funcs = compile_cfunc("""`)).

[2021-09-29 08:13] stuartarchibald commented on #7371
You most probably need to put `clang` on the path, the above would likely happen if the call to `clang` (or the compilation) failed.

[2021-09-29 09:55] polkovnikov commented on #7371
@stuartarchibald Thanks, indeed it was the problem of Clang's not being present in PATH. After it was fixed I got correct output:

`got: (1613472, 1613549.0, 1613549.0), expected: (1613472, 1613549.0, 1613549.0). OK=True`

Can you tell why `assert` inside call to `compile_cfunc()` didn't show up? Even if I put `assert False` in the beginning of a function then I get Numba's error `Cannot request l

[2021-09-29 11:45] stuartarchibald commented on #7416
@kozlov-alexey am hoping that #7441 will fix.

[2021-09-29 15:40] c200chromebook opened #7445 "Compile Slowdown 0.50 -> 0.55, CUDA and NJIT"
I have a useful but difficult to compile design pattern in which I set both a value and a sum value, passing in the sum target and the value name. I've demonstrated it below.

We're seeing considerable gradual slowdowns in compile times; this affects both CUDA and njit, but CUDA more. Any advice?

[code]
Sample Code:
[code]

[2021-09-29 16:01] polkovnikov opened #7446 "Support arbitrary fixed-size integers"
## Feature request

LLVM supports arbitrary (but fixed) bit-size integers, for example you can create 1234-bit integer. Clang also supports arbitrary size integers, just do `using u1234 = unsigned _ExtInt(1234);` to create 1234-bit integer type `u1234`.

Would be great if Numba can use this LLVM/Clang feature of defining any-size integers, so that you can write something like `dtype = numba.ext_in

[2021-09-29 17:16] stuartarchibald commented on #7445
@gmarkall any chance you could take a look at this please? The CUDA compilation time seems to be suffering relatively more.

[2021-09-29 19:07] sklam commented on #7434
The underlying error is that Numba does not directly support comparing an `Optional` type against non-`Optional` type. Instead, Numba tries to cast the `Optional` type to match the other argument but that fail because the `Optional` type contains a `None`.

[2021-09-29 19:34] c200chromebook commented on #7445
This one is even more pronounced (0.50: 0.8159976005554199, .55: 7.237001419067383)
[code]

[2021-09-30 03:21] polkovnikov commented on #5551
@stuartarchibald I also face this issue often, if I run long-computational Numba `@njit`-ed function in terminal then pressing Ctrl-C (SIGINT) doesn't stop program.

For me this is a long awaited feature for Numba to support signals handling (at least SIGINT).

Would be great for Numba to support installing any signal hook, like below:

[code]

[2021-09-30 04:35] polkovnikov commented on #5551
@stuartarchibald @astrojuanlu
I decided to implement small workaround for Ctrl-C issue using CFFI (C code).

Windows-only part of code in my snippet is only written by me for reference, it is not used, because other branch with standard function [signal()](https://en.cppreference.com/w/cpp/utility/program/signal) from `signal.h` header implemented and works on all operating systems (including Wind

[2021-09-30 06:14] polkovnikov commented on #7371
@stuartarchibald I have another question regarding you cool code [above](https://github.com/numba/numba/issues/7371#issuecomment-929027456).

Your code uses just single-module of LLVM IR bitcode. But how to deal with external precompiled libraries and/or multi-module LLVM IR?

For multi-module LLVM IR or libraries available in source I guess I can convert (compile) all `.cpp/.c` files to `.bc` and

[2021-09-30 07:41] polkovnikov opened #7448 "Allow mixing types (C or Python) within single jit-function"
## Feature request

As far as I know (maybe I'm wrong) Numba automatically decides what types to use for variables.

In njit-functions (nopython=True) all types are C static types besides, only inside numba.objmode() block Python types are allowed.

In jit-function (nopython=False) all types are Python types.

Basically there is a strict distinction - 1) pure-C mode (C-only types) 2) pure-Python m

[2021-09-30 12:52] stuartarchibald commented on #7448
Thanks for opening this feature request.

By default, yes.

Partly true. Numba has it's own type system which is a hybrid of NumPy types and Python types, there's no real connection to C lineage languages other than sometimes the types would be inferred similarly and some of the type names/concepts are shared.

All types are the `numba.types.pyobject` type, this reflects that everything in python

[2021-09-30 13:02] stuartarchibald commented on #7446
Thanks for the request.

Yes, it does to some degree and for some operations and on some targets.

You can do this sort of thing, it's LLVM support that matters as Numba generates LLVM IR:
[code]

This might be possible.

Numba doesn't convert to C lineage languages, it generates LLVM IR and then compiles that with LLVM. Some suggested reading on how Numba works if you are interested: https://numb

[2021-09-30 14:14] c200chromebook commented on #7445
Bisect suggests: 256231e363a7cfa710478d44d3818f13c1607c88 is the first bad commit
commit 256231e363a7cfa710478d44d3818f13c1607c88
Author: Siu Kwan Lam <michael.lam.sk@gmail.com>
Date:   Fri Jul 24 14:04:21 2020 -0500

    Prefer non-literal

 numba/core/types/functions.py | 4 +++-
 1 file changed, 3 insertions(+), 1 deletion(-)

[2021-09-30 17:29] polkovnikov commented on #7446
@stuartarchibald So potentially it is possible to write a `@jitclass` that implements big integer, using IRBuilder like you did?

Is it possible for `@jitclass` to have all its methods as `@intrinsics` doing codegen?

So that final variable of this class type inside njit function will behave identical to normal int, but will contain fixed-bitsize big int?

BTW, as I remember `@jitclass` didn't sup

[2021-09-30 17:32] seberg commented on #7175
I completely randomly stumbled on this issue.  It seems fairly likely to me that this is a NumPy issue!  Please make sure to bug me/us about this type of thing!
Do you think the reduce crash could be a similar problem?

[2021-09-30 17:53] seberg commented on #7175
OK, nevermind. I thought the problem here might be that NumPy does not take into account the possible existance of [`PY_VECTORCALL_ARGUMENTS_OFFSET` (and uses the NARGS macro)](https://docs.python.org/3/c-api/call.html#c.PyVectorcall_NARGS).  This may still be a bug in NumPy, but not what is causing this.

Trying it out, NumPy actually reports 0 arguments being passed.  Which means the problem is

[2021-09-30 18:03] seberg commented on #7175
Yeah, the code below will not work because it does not know about vectorcall.  That is a bit unfortunate, I hope numba can easily catch up and use the vectorcall protocol on newer NumPy versions.

https://github.com/numba/numba/blob/39271156a52c58ca18b15aebcb1c85e4a07e49ed/numba/np/ufunc/_internal.c#L289L351

[2021-09-30 18:13] stuartarchibald commented on #7446
Yes but the type system would still most likely need a new type to be registered for this "big int" so as to be able to describe the field in the `jitclass`.

I'm pretty sure the methods cannot be `@intrinsics` but they can call `@intrinsics`.

Potentially, yes.

I think that is correct as of version 0.54.x.

Yes, this is possible but at present would likely be quite involved. It's also going to b

[2021-10-01 04:37] polkovnikov commented on #7446
@stuartarchibald Strange that `udiv` is not implemented for all CPUs. It is not that difficult to implement school-level simple algorithm of division. CLang could emit some warning that division performance was reduced due to absense of built-in CPU instruction, but I think shouldn't break compilation.

I just found this issue 10 minutes ago, when compiling my C++ program. I used type `_ExtInt(512

[2021-10-01 07:25] SYKAMR opened #7450 "https://github.com/numba/numba/issues/new"
ant merge !! sorry
Traceback (most recent call last):
  File "C:\Users\SYKAMR\OneDrive - Pfizer\SYKAMR\ELN_Signals\Python requirements\AttachingPdfs\MergingPdfs.py", line 36, in <module>
    Pdf_Write()
  File "C:\ANACONDA3\lib\site-packages\numba\dispatcher.py", line 350, in _compile_for_args
    error_rewrite(e, 'typing')
  File "C:\ANACONDA3\lib\site-packages\numba\dispatcher.py", line 317, in

[2021-10-01 07:58] esc commented on #7450
@SYKAMR thank you for asking about this. Numba does not have native support for compiling `PyPDF4.merger.PdfFileMerger` so this is not the correct place for asking about this. I would suggest opening an issue on:

https://github.com/claird/PyPDF4

Perhaps?

[2021-10-01 07:58] #7450 closed

[2021-10-01 12:23] stuartarchibald commented on #7446
This is indeed what happens.

`@intrinsic`s generate LLVM IR directly into the current block, so they cannot be callable functions, they are conceptually different as their purpose is different.

`@jitclass` just uses the same technology as the rest of the compiler, its methods are essentially just `@njit` functions, LLVM will likely just inline them. I'd encourage writing actual use cases and tim

[2021-10-01 12:40] stuartarchibald opened #7451 "Corruption on ppc64le/arm64 (potential codegen/LLVM opt bug)"
## Reporting a bug

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

The test `numba.tests.test_np_functions.TestNPFunctions.test_take_along_axis` currently fail

[2021-10-01 13:39] drew-parsons commented on #3052
This error is showing up again now on debian experimental with python3-numba 0.52.0-4, llvm-9 1:9.0.1-20, pytest-3, in the tests for fenics-basix 0.3.0-2. You can see the result of the crash in basix build logs, https://buildd.debian.org/status/fetch.php?pkg=fenics-basix&arch=armel&ver=0.3.0-2&stamp=1632700773&raw=0

Running manually with `python3 -m pytest -vs test_numba.py` reveals the culprit,

[2021-10-01 14:58] luk-f-a commented on #6972
@stuartarchibald I'd like to work on this issue but I don't fully understand your fix in https://github.com/stuartarchibald/numba/commit/d8b4e1f9a527346f0839a11cae01af8070667217

Why must a dispatcher become non cacheable after unification? The comment here https://github.com/stuartarchibald/numba/commit/d8b4e1f9a527346f0839a11cae01af8070667217#diff-8c961fdf472869ea0052bda667a6f4adc50d0637fb0cec47

[2021-10-01 15:50] drew-parsons opened #7452 "LLVM ERROR: Symbol not found: __sync_fetch_and_add_4 running tests on armv7l,armv8l (armel)"
- [No ] I have tried using the latest released version of Numba  (0.52 tested, not 0.54).
- [Yes] I have included a self contained code sample to reproduce the problem.
`python3 -m numba.runtests --log -lv`

numba 0.52 is crashing on armv7l (armel). The error message is
[code]
It 's the same error message as reported in #3052 , but that instance was supposed to have been fixed already.

This is on

[2021-10-01 16:26] gmarkall commented on #7452
Debian bug is: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=994294

I don't think it's going to be easy to move forward much with this until Debian picks up 0.54 (and a newer version of llvmlite based on 11).

[2021-10-01 16:27] gmarkall commented on #7452
(Adding the "more info needed" pending the results of testing 0.54 on Debian ARM).

[2021-10-01 21:19] drew-parsons commented on #7452
Thanks.  Hopefully we'll have numba 0.54 packaged with llvmlite/11before too long.

[2021-10-02 17:34] kc611 opened #7454 "Add support for looping over empty tuples"
---

## Feature request

[code]

In general, there doesn't seem to be an way to iterate over empty tuples in Numba. For instance, we might not know if the element being iterated over is empty or not.

[2021-10-04 02:05] Jasha10 commented on #7424
Here are steps to reproduce:
[code]

[2021-10-04 02:13] Jasha10 commented on #7424
@castarco here is my recommendation for you: [ignore the typing](https://mypy.readthedocs.io/en/stable/common_issues.html#spurious-errors-and-locally-silencing-the-checker) of the numba decorating by adding a `# type: ignore` comment to the line of the decorator:
[code]

[2021-10-04 04:37] hennels opened #7455 "Non-deterministic hang when testing set membership"
## Reporting a bug

When repeatedly checking `set` membership I have a program seems to hang indefinitely. This seems to happen non-deterministically on my machine. The program hangs every time I run it, but the iteration in which it hangs in seems to be random. I have attached a snippet of code that experiences the same issue. I have tested this on `0.54.0` and `0.53.1` and both seem to behave si

[2021-10-04 07:24] esc commented on #7455
@hennels thank you for reporting this bug, it appears very similar to:

https://github.com/numba/numba/issues/6543

[2021-10-04 07:29] esc commented on #7362
@sgbaird I see that #7367 is still open and appears to have some remaining tasks to be completed.

[2021-10-04 07:38] esc commented on #7454
@kc611 thank you for reporting this. I seems like a duplicate of: https://github.com/numba/numba/issues/7245

[2021-10-04 08:57] stuartarchibald commented on #7454
@kc611 Thanks for opening the request. Am going to close this as it's a duplicate as noted. Perhaps consider subscribing to #7245 to get updates on any progress made? Thanks again!

[2021-10-04 09:03] stuartarchibald commented on #7455
@esc I agree, suspect this is caused by the same underlying issue in #6543.

[2021-10-04 15:02] hennels commented on #7455
Sorry, I didn't see that issue when I was searching. Feel free to close this if it doesn't add anything new.

Interesting to see there are multiple ways to get to this behavior though. In  #6543 there are multiple elements in the set at a time, and here the same behavior occurs even though set only ever has 0 or 1 elements.

[2021-10-04 15:33] #7455 closed

[2021-10-04 17:08] JohamyB commented on #7353
Hi @gmarkall ,
I'm new here and want to take this one as my first issue?

[2021-10-04 17:25] stuartarchibald commented on #7455
No problem, thanks again for reporting it, extra examples/tests are always useful as one might contain less code/data which makes it easier to debug. It just so happens that this bug is in recent memory hence was relatively easy to spot as probably the same as #6543!

From memory, we think there's probably a couple of problem present and individually they are "ok" (issues are minimal/not seen) but

[2021-10-04 17:34] stuartarchibald commented on #7451
With thanks to @gmarkall for spotting this, turns out the `-1` in this:
[code]
ends up as the index in a `getelementptr` on an array type that is 4 elements in size and to make it worse it's specified as `inbounds`, this is all compile time constant and likely triggers UB. When debugging this on power8, there's the tuple `(3, 1, 4, 2)` on the stack and it reads 1 before this and it ends up clobber

[2021-10-05 02:55] hennels commented on #6543
Just to give a quick and practical workaround for anyone else encountering this issue.

Using the information on slots provided by @esc, the below example is the simplest example that exhibits the slots bug.
[code]

The current workaround I am using for this is to just `clear()` the set when I know it is empty. For example, the following snippet runs just fine.

[code]

[2021-10-05 11:09] stuartarchibald opened #7458 "Refactor unit tests scraping stdout/stderr in cases where alternatives are available."
As noted here:
https://github.com/numba/numba/pull/7234#discussion_r706303872

Scraping `stdout` and `stderr`, often from running a code sample in a subprocess, is error prone and ideally this should be avoided where an alternative exists (e.g. closing over the expected string and asserting its presence in some other way as part of the code sample being executed).

[2021-10-05 14:54] #7451 closed

[2021-10-05 19:59] #4486 closed, assigned to nobody

[2021-10-06 14:40] LiorA1 commented on #7417
@esc
I'm new to numba, but think that the lack of data structures are really sticking out..

May I ask is it considered in the past ? or maybe in the future ?

Anyway, Numba is really awesome.

[2021-10-06 15:19] esc commented on #7417
Yes, we do have **set** and **dict** and **list** support, I think even for `collections.heapq`. Support is growing. If you need single ended queue, you can use *list*. I mean, you can use *list* to implement a deque easily, but removing items from the front will be computationally expensive, whereas removing items from the end will have an amortized constant runtime cost.

[2021-10-06 18:41] guilhermeleobas commented on #6807
`fastmath` [flag assumes](https://llvm.org/docs/LangRef.html#fast-math-flags) that arguments are not `NaN`. So, I wonder if this I really a bug in the implementation or the expected behavior.

[2021-10-06 20:40] stuartarchibald opened #7462 "numba.pndindex accepts negative integers"
## Reporting a bug/discussion point!

- [x] I have tried using https://github.com/numba/numba/pull/7398
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

Since https://github.com/numba/numba/pull/7398 adds support for integers as the arg to `pndindex`, it turns out that negative integers are also accepted both under `njit`

[2021-10-07 06:38] legendagain commented on #6488
Hello! Just seconding this feature request and checking in if you have found a workaround to this? I'm currently facing the same issue (using a fixed dictionary external to njitted function) and this feature would be extremely useful.

[2021-10-07 09:05] gmarkall commented on #6807
That is correct, it is the expected behaviour. However, I can't find anything explicit in the docs about it, so someone could raise a new documentation bug / make a PR if there's sufficient interest.

[2021-10-07 13:05] 2sn opened #7463 "Support current Python 3.10 and numpy 1.21?"
---

## Feature request

Is there an ETA to get nuba support for current numpy 1.21+ and current Python 3.10?

Having just one package (numba) lag behind is not great.

LLVM can already be installed with Python 3.10.

[2021-10-07 13:07] #7463 closed, assigned to nobody

[2021-10-07 18:44] sklam opened #7464 "Numba 0.54.1 Checklist"
## numba 0.54.1

* [x] Cherry-pick items from the 0.54.1 milestone into a PR.
    * None
* [x] Merge change log modifications and cherry-picks to 0.54 release branch.
  * [x] https://github.com/numba/numba/pull/7465
* [ ] Review, merge and check execution of release notebook. (FINAL ONLY)
* [x] Annotated tag 0.54.1 on release branch (no `v` prefix).
* [x] Build and upload conda packages on buildfa

[2021-10-07 19:00] cuihantao opened #7466 "numpy.select won't compile if the `choicelist` contains non-vector numbers"
## Reporting a bug

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

Numba version: 0.54.0

The code below explains the issue:

[code]

The only difference is th

[2021-10-07 19:46] sklam commented on #7466
Thank you for reporting the issue.

This is a limitation of Numba. `[x, 2]` is typed as `[Array, intp]` and Numba do not currently support list of mixed types in many places. The working code have `[Array, Array]`, a mono-typed list.

[2021-10-07 19:57] cuihantao commented on #7466
Thank you. I got it.

Do you see any chance to support it in the near future? If not, I can modify my implementation to make the list mono-typed.

[2021-10-08 00:19] brandonwillard opened #7467 "`np.nditer` won't broadcast 1D arrays"
Here's a MWE:
[code]

[2021-10-08 15:20] jakirkham opened #7468 "Building w/OpenMP on macOS"
This changeset ( https://github.com/numba/numba/commit/a23bc195096178e5849ebc0fb6dcedbd6f0cbeea ) was added to fix building on macOS previously. While packaging 0.54.1, we needed to switch to `llvm-openmp`. This seemed to work well despite issues previously. Given this, am wondering do we still need the custom handling here for macOS?

[2021-10-08 15:56] polakowo opened #7469 "Selection of records already indexed with other array returns unexpected values"
## Reporting a bug

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

[code]

Passing a slice works as well as replacing -1 with `np.array([-1])`.

[2021-10-08 17:29] jllanfranchi commented on #3285
@Slasher111 and @mivanit  it's a hack and no excuse for Numba to not support what directly what you want, but if each column of your structured array has the same dtype, then you can work with the underlying memory directly as if it was a 2D numpy array of floats or ints, or whatever. For example:

[code]
then you can feed `view` to Numba to operate on. You can re-interpret the result back to your

[2021-10-08 18:12] jllanfranchi commented on #1319
Update for timings taken using Numba 0.54.0:

[code]
Output:
[code]

So... now the function-call version is ~3x _faster_ than bare version (which seems odd to me). Other things I tried:

1. Switching `(...)**2` -> `np.square(...)` shaves 2-3 ms off of `cdist` but increases the runtime of `cdist_func` by ~0.2 ms.
2. Switching to `diff = x[n] - y[n]; distance += diff * diff` instead shaves another 1

[2021-10-08 18:51] jllanfranchi opened #7470 "Array-then-scalar chained indexing into an array fails"
## Reporting a bug

- [ x ] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [ x ] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

Indexing into an array using first an array then a scalar fails within an njit-ed functi

[2021-10-08 21:33] sklam commented on #7469
https://github.com/numba/numba/issues/7470#issue-1021378686 adds more examples.

[2021-10-09 07:58] iDestro opened #7472 "list append failed"
[code]

[2021-10-09 11:03] iDestro opened #7473 "Why type of variable 'd' cannot be determined?"
Code:
[code]
Output:
[code]

[2021-10-09 11:11] bluenote10 opened #7474 "Wrongly evaluated equality comparison"
## Reporting a bug

- [x] I have tried using the latest released version of Numba: yes, using version 0.54.1 (7 October, 2021)
- [x] I have included a self contained code sample to reproduce the problem.

**`bug.py`**

[code]

**Output**

[code]

Apparently the condition `action == "a"` is wrongly evaluated.

**Expected Output**

This is the output when running with plain Python, i.e., removing `@

[2021-10-09 14:00] ErnestoAvedillo opened #7475 "Working with numba and nproll error"
Hello
In the following code, the first np.roll  intruction  aa= np.roll(aa, n) works fine while the second,  bb = np.roll(aa, n, axis=1) is generating an error (see betow).
This code is working fine without importing numba.
It seems to be a bug.
Does anybody know if this is a bug and if not how to solve it?
Thanks

=================>

import numpy as np
imort numba as nb

@nb.njit
def desplaza(n):

[2021-10-10 11:27] fraseriainlewis opened #7476 "@jit np.stack and np.concatenate - tuples only - unlike numpy"
Hi,
this might be on the to-do list but in case not, calls to np.stack() and np.concatenate() appear to fail when using @jit decorator and passing a "sequence of array like" which are lists rather than tuples. I didn't see this restriction in the numba docs (https://numba.pydata.org/numba-doc/dev/reference/numpysupported.html)? Minimal example is below. I'm a bit of a python newbie and this trippe

[2021-10-11 08:03] esc commented on #7474
@bluenote10 thank you for reporting this. It seems like this is the result of Numba being sensitive to typing. It is either because the final `else` clause assigns a `None` or because the predicate compares against floating point. Here is a suitable workaround:

[code]

[2021-10-11 08:25] esc commented on #7473
@iDestro thank you for asking about this. Unfortunately, we can not debug this code because it is not fully runnable. Please provide a fully runnable example. Thank you!

[2021-10-11 09:33] stuartarchibald commented on #7469
@sklam I assume it's the problem described here: https://github.com/numba/numba/issues/5853#issuecomment-893275330 ?

xref https://github.com/numba/numba/issues/6835 for numerous other reports.

[code]
`0xDE` is the recently destroyed object's memory marker https://github.com/numba/numba/blob/8d4559a83b7b12da9121c030b8e3780874204a34/numba/core/runtime/nrt.c#L210

[2021-10-11 11:51] RendersJens opened #7478 "Incorrect silent conversion from float64 to float32 in cuda jitted function"
## Reporting a bug

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

When calling a cuda jitted kernel with the wrong input type, numba silently converts it and

[2021-10-11 16:35] sklam commented on #7466
@cuihantao,

It won't be supported in the near future.  Handling mixed-type generally is a major limitation of the current type-inference algorithm. We only have ad-hoc support for mixed-type list that are known to be compile-time constant.

[2021-10-11 22:37] #7474 closed

[2021-10-12 16:38] sklam opened #7480 "Need common util to handle Optional types in comparator"
Can we avoid writing the optional handling logic for every comparator?
For example: https://github.com/numba/numba/pull/7477/files#diff-822a3d4f266dfaf793bb8ffab446e5bcd3718853d6443f133cc04e3031689533R454-R474

Related:

- https://github.com/numba/numba/issues/7474

Remaining problems:
- [int-optional `==` from 7474](https://github.com/numba/numba/issues/7474#issuecomment-940213269)

[2021-10-13 20:20] nehaljwani opened #7482 "Failed in nopython mode pipeline len(none)"
I'm on the latest build of numba:
[code]

Small reproducible example:
[code]

The problem:
[code]

This diff resolves the problem, but I didn't need it with `numba=0.43.1`
[code]

[2021-10-14 07:17] esc commented on #7376
@folded thank you for the ping, looks like it still needs to be triaged properly too!

[2021-10-14 07:20] esc commented on #7482
@nehaljwani thank you for reporting this, this will need looking at.

[2021-10-14 10:06] stuartarchibald opened #7485 "Validate values on assignment in `numba.config`"
`numba.config` is used to store the compiler configuration options, the variables can be set by environment variables, a yaml file, or directly. In the majority of cases, nothing verifies that the values are valid in type or value, for example:
[code]
the `GDB_BINARY` needs to be a file path to the gdb binary not a complex number. This error would not be caught until it's used, the effect here wou

[2021-10-14 10:14] fzimmermann89 commented on #7299
With current versions from conda-forge/pytorch nightly, e.g.
[code]
the issue seems to be gone.

Not sure if the root cause is actually solved or if it might break again if any other library moves to a different libllvm version, but I'll close this for now.

Thank you for all your work! numba is great :)

[2021-10-14 10:14] #7299 closed

[2021-10-14 10:33] ogauthe commented on #4584
I considered moving from tuple of array to typed list. The performance fall was really bad, typed list are currently way too slow for my use.

To provide context, I have a bunch of matrices and I need to swap their coefficient in a complicate way. The number of matrices is small ~10 and the matrices are large ~(5000, 5000). My code looks like

[code]

I use a homogeneous tuple of C-array to store

[2021-10-14 10:56] esc commented on #4584
IIRC the list comprehension will yield a reflected list, not a typed list. You can read more about the difference here:

https://numba.readthedocs.io/en/stable/reference/pysupported.html#list

If you do not need to use `append` for example to grow the container, I would recommend sticking with tuples.

[2021-10-14 17:01] #7278 closed

[2021-10-15 00:32] asdouglass opened #7486 "Error importing numba"
If you are not working on Numba development:

Please report the error message and traceback, along with a minimal reproducer
at: https://github.com/numba/numba/issues/new

If more help is needed please feel free to speak to the Numba core developers
directly at: https://gitter.im/numba/numba

Thanks in advance for your help in improving Numba!

The original error was: 'cannot import name '_typecon

[2021-10-15 05:52] esc commented on #7482
@nehaljwani thank you very much for your efforts to bisect this. The question now is, @stuartarchibald is this a genuine bug, or is it something that "used to work by accident"?

[2021-10-15 06:19] dxzenghan opened #7487 "Random shuffle error in structured array"
Hello,
My runing enviroment is as below:
- python 3.7
- numba 0.54.1
- numpy 1.19.5
- windows 10 64bit os

Please consider the following code:

[code]
It run as follows, however, using shuffle with jit make different element to be same:
[code]

[2021-10-15 12:26] stuartarchibald commented on #7482
@nehaljwani / @esc Note: I redacted some data in the above but otherwise is the same.

@nehaljwani thanks for bisecting. This is a mixture of adding a feature to prune dead branches and lack of SSA at that point in the pipeline, which means that if an arg is redefined the pruner has to abort as it cannot work out whether it is rewritten or not as the name is the same. The patch 24fcb48 fixed https

[2021-10-15 16:25] stuartarchibald opened #7488 "A case where type inference does not halt."
## Reporting a bug

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

This from #3070 causes type inference to get stuck in a loop:
[code]
seems like it's going a

[2021-10-18 03:15] auderson opened #7491 "support for set and arrays of str type"
---

## Feature request
Hi,
I found codes like following is not runnable currently:
[code]
Can we have supports for str array/set in the future?

[2021-10-18 07:32] esc commented on #7410
Removing both the 'needtriage' and 'stale' labels.

[2021-10-18 15:45] auderson commented on #7491
Thanks for reply,
I did expect that we can't create an array directly because str type is variable-length in python. But is it possible to just offer some basic functionality like creating a fix-length unicode array, like "U5" type in numpy?

[2021-10-18 21:03] guilhermeleobas opened #7492 "partial type inference stores the wrong type when a PHI node is involved"
## Reporting a bug

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

While working on #7204, I notice the partial typemap algorithm stores wrong information when

[2021-10-19 01:54] #7464 closed

[2021-10-19 05:52] sgbaird opened #7494 "CUDA Simulator IndexError when using @jit instead of @cuda.jit(device=True) functions inside of kernels"
## Reporting a bug

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

Here is a MWE:
[code]
Here is the stack trace:

In the offending line of code:
[code]
`self.

[2021-10-19 09:52] juliusbierk opened #7495 "nb.prange returns int64 in sequential mode but uint64 in parallel mode"
I believe this is undocumented behaviour.

[code]

This caused a nasty bug in my own code that was hard to debug as the problem did not exist without `parallel=True`.

[2021-10-19 09:52] sgbaird commented on #7494
Sure thing! I'm glad it came across well. I didn't think about using NUMBA_DISABLE_JIT for that. Good to know! Also, I appreciate your perspective about not mixing jitted CPU and non-jitted CUDA code. I may find the path to be even thornier if I keep going down that route. I'll see if I can scrape some time in for a documentation PR. Thank you Graham!

[2021-10-19 14:09] stuartarchibald commented on #7492
@guilhermeleobas thanks for the report. As discussed out of band (and with @sklam) it's likely that the issue is that partial type inference is exiting too early before all the incoming types are considered. We think the reason the "last" branch is carried is because it executes first in type inference as there's no type dependency (`x > 0` needs resolving in the True branch so will execute later

[2021-10-19 21:30] #7151 closed

[2021-10-20 05:41] p-i- opened #7497 "macOS: Numba needs NumPy 1.20 or less"
On macOS, installing with `pip install numba`, `from numba import njit` fails with "Numba needs NumPy 1.20 or less".

`numpy.version.version  # '1.21.2'`

Please, "out-of-the-box" functionality on macOS 🙏

[2021-10-20 07:26] #7497 closed, assigned to nobody

[2021-10-20 14:31] vroomzel commented on #6998
I actually encountered the same issue, but with `np.linalg.qr` function. Are there any workarounds for this?

[2021-10-20 23:18] JohamyB commented on #7353
Hi,
I have been checking the documentation and the code, but I'm still not able to debug, can you please provide me a guide on this?

[2021-10-21 10:36] gmarkall commented on #7169
This won't make it into 0.55, optimistically bumping to 0.56.

[2021-10-21 10:37] gmarkall commented on #7324
Resolved in #7330.

[2021-10-21 10:37] #7324 closed

[2021-10-21 10:38] guzuomuse opened #7501 "aot omitted argument"
## Reporting a bug

- [√ ] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [ √] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

[code]
after compiled.

call this function raise error when given 2 arguments
`test_omitte

[2021-10-21 11:48] juliusbierk opened #7502 "cuda.syncthreads() not working?"
I have tried to simplify my simulation code as much as possible while retaining the bug I am facing. However, the code is still slightly long. Sorry in advance.

I am running a checkboard algorithm on a 2D grid, where "black" cells (``parity = 0``) are updated based only on "white" cells (``parity = 1``) and vice versa in each time step. If threads are synchronised between steps, no race condition

[2021-10-21 11:51] juliusbierk commented on #7502
Ah, perhaps I did misunderstand something: ``syncthreads()`` only synchronizes within a block.
I will close the issue while I investigate. Sorry!

[2021-10-21 11:51] #7502 closed

[2021-10-21 11:57] juliusbierk commented on #7502
(yes ``g = cuda.cg.this_grid(); g.sync()`` solves the issue -- sorry again!)

[2021-10-21 18:40] Muhamin4as opened #7503 "cannot determine Numba type of <class 'dict'>"

[2021-10-21 18:42] Muhamin4as opened #7504 "Numba"
cannot determine Numba type of <class 'dict'>

[2021-10-21 19:24] stuartarchibald commented on #7504
Am assuming that this is a duplicate of https://github.com/numba/numba/issues/7503, closing.

[2021-10-21 19:24] #7504 closed, assigned to nobody

[2021-10-21 19:31] sklam opened #7505 "cudasim breaks ufunc. missing is_cuda_array"
## Reporting a bug

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

Reproducer:

[code]

Works in actual CUDA but fail in CUDASIM with:

[code]

[2021-10-22 04:22] guilhermeleobas opened #7507 "Numba is raising a `NotImplementedError` instead of the `NumbaNotImplementedError` equivalent"
## Reporting a bug

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

While trying the new error model with [RBC](https://github.com/xnd-project/rbc/), I found a

[2021-10-22 15:23] guzuomuse opened #7509 "astype not support datetime64"
## Reporting a bug

- [ √] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [ √] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

[code]

[2021-10-24 20:22] fraygeyst opened #7510 "Nooby needs help"
Hey there,

I tried today everything to get my project to numba, but I have still the same problem and I hope you can help me.

by compiling I get this:

tweetSentiment.py
C:\Users\marc_\AppData\Local\Programs\Python\Python39\lib\site-packages\numba\core\decorators.py:153: NumbaDeprecationWarning: The 'target' keyword argument is deprecated.
  warnings.warn("The 'target' keyword argument is deprec

[2021-10-25 19:24] sjperkins opened #7512 "SIGSEGV related to intrinsic"
I've written an intrinsic that takes a tuple of arguments and creates a new tuple with some constants appended to the existing tuple values. This is creating a segfault for reasons that i don't understand.

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).

[code]

- [x] I have included

[2021-10-26 10:01] #7512 closed, assigned to nobody

[2021-10-26 21:36] WenheLI opened #7513 "Support CUDA 11.4"
---

## Feature request

I am currently running numba with in WSL with gpu support. However, I need to use CUDA 11.4 to support GPU under WSL.
I am just wondering if numba has plan for it?

[2021-10-27 00:23] #7513 closed, assigned to nobody

[2021-10-28 10:52] stuartarchibald opened #7517 "Typeguard fail in mangled flags tests."
## Reporting a bug

- [x] I have tried using the ~latest released~ mainline version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [ ] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

From https://github.com/numba/numba/pull/7460, the typeguard build slice is faili

[2021-10-29 01:10] DrTodd13 opened #7518 "Segfault with caching and parallel=True."
[code]

Run that with the following:
[code]

That results in a segfault.

[2021-10-29 17:53] DrTodd13 opened #7519 "GDB doesn't work with parallel=True."
[code]

It seems that the sched parameter introduced by parallel=True isn't in the fndesc typemap so you get a KeyError in debuginfo.py, mark_subprogram.

[2021-10-29 23:04] JohamyB commented on #7353
@stuartarchibald  I have tried with this: https://llvmlite.readthedocs.io/en/v0.25.0/admin-guide/install.html but I'm still not able to update llvmlite.  Do you know if I'm missing something else?

Installed c:\users\laptop1\anaconda3\lib\site-packages\numba-0.55.0.dev0+502.g453765375.dirty-py3.7-win-amd64.egg
Processing dependencies for numba==0.55.0.dev0+502.g453765375.dirty
Searching for llvmli

[2021-10-30 13:11] maallen3 opened #7520 "trying to pick random numbers on a simple array fails"
import numpy as np

@njit()
def rand_choice_nb_bool(boolval, *arr_prob):
    arr = arr_prob[0]
    prob = arr_prob[1]
    if boolval==1:
        return arr[np.searchsorted(np.cumsum(prob), np.random.random(), side="right")]
    else:
        return 0

x = np.array([0, 1, 0,1,1])
f = lambda x: rand_choice_nb_bool(x,np.array([1,2,3,4]),np.array([0.25,0.25, 0.25,0.25]))
vals = f(x)

[2021-10-30 13:12] maallen3 commented on #7520
Ignore the docstrings, they are old.

[2021-10-30 13:16] #7520 closed

[2021-10-30 14:56] Twomem opened #7521 "numpy.clip accept numpy.array for a_max"
---
Hi Numba team,
Thanks for your contributions. Please could you add support of numpy.clip() so that it can accept a numpy.array() as the a_max and a_min?

The example code below works when running normally, but does not work when using @njit.

`mask = a > b;
out[mask] = (np.clip(c, 0, d)[mask])
`
where mask is a boolean of length 1000
c.shape = (1000, 10, 10)
d.shape = (1000, 10, 10) (i.e. not

[2021-10-31 04:18] auderson opened #7523 "Lowering error in parallel loop"
## Reporting a bug

- [ ] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [ ] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

[code]
The above code iters through a list of arrays of the same shape. With `parallel=True`

[2021-10-31 06:21] polkovnikov commented on #7448
@stuartarchibald As you marked this issue as `question` and Bot marked with `stale`, seems that this issue is not an issue, but more like clarification question, then I'm closing it. Can be reopened later if needed.

[2021-10-31 06:21] #7448 closed

[2021-11-01 06:28] esc commented on #7452
@drew-parsons are there any updates on this? Shall we keep the issue open?

[2021-11-01 09:28] drew-parsons commented on #7452
We're still waiting for Debian to package 0.54, sorry!

[2021-11-01 09:58] esc commented on #7452
OK, I removed the `stale` label.

[2021-11-01 10:06] gmarkall commented on #7445
Removing needtriage so this doesn't go stale. It does need looking into sometime, but the presence of the workaround does reduce the urgency a bit.

[2021-11-01 10:15] gmarkall commented on #7521
Marking as a feature request. It may be a good second issue for someone who's already had a little success in extending Numba.

[2021-11-01 10:28] Twomem commented on #7521
Thanks, gmarkall, for acknowledging this request :) Do you have any idea when this update might be implemented?

[2021-11-01 21:13] astoeriko opened #7526 "Implement np.shape for nestedarray"
## Feature request

numba currently (0.54.1) doesn't implement `np.shape` for nestedarrays from numpy record types. Support for this would simplify some generic code a little bit.

[code]

<details>

[code]

</details>

[2021-11-01 23:02] sklam commented on #7519
I tried running this but I didn't get any `KeyError`.

[2021-11-01 23:17] sklam commented on #7526
Alsp, Numba should also not have triggered the error from:

[code]

[2021-11-01 23:34] #7394 closed

[2021-11-02 09:38] vlad-perevezentsev opened #7527 "Incorrect result of info locals and info args commands when debugging w/ GDB"
- [ ] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

I used Numba(master) with the last commit on October 28(Merge pull request 7499) because #7177 and #7421  will b

[2021-11-02 10:42] gmarkall opened #7528 "Implement array reshape for CUDA"
The following:

[code]

Gives:

[code]

Given that we got through typing and lowering and ended up with a linker error, it might not be too difficult to fix up the implementation for CUDA.

[2021-11-02 10:43] gmarkall commented on #7528
This may be a good issue for someone who's already managed to implement a basic addition to the CUDA target - labelling accordingly.

[2021-11-02 10:54] gmarkall commented on #7528
A little further investigation reveals that `numba_attempt_nocopy_reshape` is implemented in `_helperlib.c` - this could do with being compiled to PTX into a "CUDA helperlib" and linked in as required. This is a bit much for a "good second issue".

[2021-11-02 11:11] stuartarchibald commented on #7527
Thanks for the report. I don't think that this is a problem with the DI, it seems valid for the Numba IR that is lowered. The issue is that the Numba IR itself is in SSA form and so variables are versioned as necessary. E.g. this type annotation line shows a reassignment of variable "a", `a.1 = a + $const4.1  :: int64`, and translates into DI as variable `a$1 = <expr>` when lowered. I think it sho

[2021-11-02 11:16] stuartarchibald commented on #7519
Thanks for the report. I cannot seem reproduce either. I also wonder if it's actually that `parallel=True` does not work with `DebugInfo` support, shouldn't the typemap always be valid?

[2021-11-02 12:01] gmarkall commented on #7528
Starter hack:

`_cuda_helperlib.cu`, taken from `_numba/_helperlib.c`:

[code]

Compiled with (paths on my system):

[code]

User code:

[code]

produces:

[code]

[2021-11-02 16:35] stuartarchibald opened #7530 "Reminder to postpone deprecation of eager compilation of CUDA device functions."
As title. Context: https://github.com/numba/numba/pull/7496#discussion_r736484435

[2021-11-02 17:25] stuartarchibald commented on #7448
Great, thanks @polkovnikov. Also, for the future, https://numba.discourse.group/ is a good place to start discussions/ask questions. If something on there turns out to be an issue/feature request it can be transcribed into this tracker. Thanks!

[2021-11-02 17:28] stuartarchibald commented on #7520
@maallen3 thanks for reporting this, I presume as this is closed the problem was resolved? Thanks again!

[2021-11-02 17:33] stuartarchibald commented on #7353
@JohamyB the issue is that you need a "development" version of `llvmlite`. `conda` packages are the way to obtain these: https://llvmlite.readthedocs.io/en/stable/admin-guide/install.html#pre-built-binaries and as noted in the docs:

Alternatively you can build them yourself but they are quite challenging: https://llvmlite.readthedocs.io/en/stable/admin-guide/install.html#building-manually

[2021-11-02 19:01] prh-t commented on #3435
Is this still open?

[2021-11-02 19:16] stuartarchibald commented on #3435
@prh-t thanks for the note, https://github.com/numba/numba/pull/7304 closes.

[2021-11-02 19:16] #3435 closed

[2021-11-02 22:03] #7517 closed

[2021-11-03 03:52] aa694849243 opened #7531 "NumbaWarning: [1mThe TBB threading layer requires TBB version 2021 update 1 or later i.e., TBB_INTERFACE_VERSION >= 12010. Found TBB_INTERFACE_VERSION = 11102. The TBB threading layer is disabled.[0m warnings.warn(problem)"
## Reporting a bug

- I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).

[code]
I'm getting warning when I run above code, I download tbb by `conda install tbb`,but the problem still exists.
The output of `numba -s`
[code]

[2021-11-03 06:19] esc commented on #7531
@aa694849243 thank you for reporting this. I would recommend setting up a new conda environment and re-installing `Numba`. You can also try to include the packages `tbb` and `tbb-devel`.

What is strange about the warning you receive, is that the `tbb` package appears to be present in the correct version.

[2021-11-03 16:18] edaniele-tpi commented on #2104
@stuartarchibald: Any chance of extending `correlate` to accept more than 2 arguments?
See https://numba.pydata.org/numba-doc/dev/reference/numpysupported.html#other-functions where one reads:
[code]

[2021-11-03 16:38] AhmetCanSolak opened #7532 "numba-core-cpu-importing-stuff-from-numba-experimental"
---

## Feature request

Hello all. I am opening this issue as a follow up to this: https://numba.discourse.group/t/numba-core-cpu-importing-stuff-from-numba-experimental/995

I am wondering if there is a better way to handle `install_registry` calls given. here:
https://github.com/numba/numba/blob/6c95d38d945bb5ee77e52662bed416e24a2770ef/numba/core/cpu.py#L86

This is particularly causing a probl

[2021-11-03 20:16] sklam commented on #7532
This relates to moving experimental features to https://github.com/numba/numba-extras as briefly discussed in the numba dev meetings. Then, these features can be registered automatically via [extension-entrypoints](https://numba.readthedocs.io/en/stable/extending/entrypoints.html).

[2021-11-04 00:03] zephyr111 opened #7533 "Missed optimization on typed lists"
Numba generate JIT calls for lists that are not optimized out by LLVM-Lite in practice. This include reference counting calls and especially function calls to check the size of the list in the following example. The fact that the functions related to the list are not inlined is a missing optimization (especially because of the `alwaysinline` and `readonly` JIT tags). This can have a relatively hug

[2021-11-04 01:18] zephyr111 opened #7534 "Include non-temporal JIT annotations to speed up memory-bound codes filling big arrays"
Hello everyone,

x86/x86-64 processors have [non-temporal store instruction](https://stackoverflow.com/questions/37070/what-is-the-meaning-of-non-temporal-memory-accesses-in-x86) that can be used to avoid a cache-line allocation when memory writes are performed. They are very useful to speed up memory-bound kernels filling huge arrays that do not fit in the CPU cache. Indeed, in such a case, most

[2021-11-04 08:29] dlee992 opened #7535 "Slower string manipulation performance than CPython"
## Feature request

After investigating Numba usage and internals, I want to popularize the usage of Numba in my work group.
However, our existing Python bussiness code is often related with user-defined-functions using Pandas DataFrame and string manipulation.
I know Numba is excellent at numeric manipulation, not good at string stuff.
I look into Numba internals, it already has Python unicode ty

[2021-11-04 08:46] kjz1997 opened #7536 "from numba.core.typeconv import _typeconv"
from numba.core.typeconv import _typeconv
ImportError: DLL load failed: 找不到指定的模块。

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "E:/python/Datashader.py", line 1, in <module>
    import datashader as ds, pandas as pd, colorcet
  File "C:\Users\DELL\AppData\Local\Programs\Python\Python37\lib\site-packages\datashader\__init__.py", lin

[2021-11-04 11:48] Jasha10 commented on #7424
I can confirm that this issue is still open with the latest numba version 0.54.1.
I've edited the repro script in my first comment above (I'd forgotten to include the `conda activate`/`conda install` steps).

[2021-11-04 15:15] sklam commented on #7536
@kjz1997, This is a common symptom of installation problem. Can you tell us more about how Numba is installed?

[2021-11-04 15:48] kjz1997 commented on #7536
I didn't use conda . I was using pycharm, and then I followed the instructions on the official website and used pip install datashader

发自我的iPhone

[2021-11-04 16:45] castarco commented on #7424
Regarding my PR, I stopped working on it (and I didn't had good results anyway). I still have some interest on the topic, but it's not affecting my daily work now, so I had to shift priorities.

[2021-11-04 18:22] stuartarchibald commented on #2104
@edaniele-tpi I presume it's the `mode` kwarg to which you are referring? Just from having a quick skim of the code, it looks like a lot of the work is already done and it's potentially just some plumbing and maybe a small bit of implementation that's needed: https://github.com/numba/numba/blob/6c95d38d945bb5ee77e52662bed416e24a2770ef/numba/np/arraymath.py#L4116-L4259 I'm not sure when/if I'll hav

[2021-11-04 18:34] sklam commented on #7534
I tested this on 0.54.1 vs 0.53.1 on my i7 2019 MacbookPro:

On 0.54.1:
[code]

On 0.53.1:
[code]

So the issue appears to have been fixed in the more recent release.

The optimized LLVM IR looked quite different across the two version but I cannot pinpoint to what is the cause for the changes yet.

[2021-11-04 18:39] sklam commented on #7534
We started using LLVM 11 in 0.54.x. That probably explain the changes in the code generation.

[2021-11-04 18:49] sklam commented on #7534
@zephyr111, can you point us to the implementation in NumPy? I am unable to find it.

[2021-11-04 18:55] sklam commented on #7533
Thank you for reporting the performance issue. I can confirm that this continues to be a problem on 0.54.x and current [mainline](https://github.com/numba/numba/commit/6c95d38d945bb5ee77e52662bed416e24a2770ef).

Unfortunately, the non-typedlist version has also gotten slower in new version:

post 0.53
[code]

0.53
[code]

[2021-11-04 21:30] sklam commented on #7535
Thank you for your interest in Numba. Currently, the unicode support in Numba is primitive and it's not performing well for application relying on string manipulation. IIRC, it is particularly bad on code that requires processing on individual characters such as the `text_distance()` code. Unfortunately, we don't have any immediate plans to optimize the string support.

As for the performance limi

[2021-11-05 00:13] kjz1997 commented on #7536
I didn't use conda. I was using pycharm, and then I followed the instructions on the official website and used pip install datashader

发自我的iPhone

[2021-11-05 11:56] stuartarchibald commented on #7533
RE: RNG performance:
[code]
gives:
[code]
i.e. the `@overload_glue` wrapper generation is leading to functions which are above the threshold for inlining. Given there's nothing else much really going on in the code, it's probably safe to assume that function call overhead is the problem. Prior to 0.54 this code generation would have taken place via direct lowering/injection of the IR into the `@nj

[2021-11-05 12:25] stuartarchibald commented on #7533
Here's some variants on the above that improve performance (running against #7538):
[code]
this gives me:
[code]

The function `foo_list_2` is changed to use the `getitem_unchecked` method on the `typed.List` container. A standard `getitem` requires an exception handling check to make sure the index is in bounds (note that array access does not do this by default, `boundscheck=True` needs setting

[2021-11-05 13:49] esc commented on #7536
@kjz1997 IIRC installation via pycharm has caused issues for other users in the past. It may be worthwhile searching the issue tracker and/or discourse.

[2021-11-05 14:48] kjz1997 commented on #7536
Thank you！I am using jupyter。

发自我的iPhone

[2021-11-05 23:01] jeertmans opened #7540 "[Docs] Jitclass support for type annotation not documented on main page"
Hello,

In my opinion, the fact that the `jitclass` decorator supports type annotation (see #5609) inference should be documented on [this page](https://numba.pydata.org/numba-doc/dev/user/jitclass.html). When searching for reference about jitting Python classes, this is the first page that appears, so I think it's best to document this feature there too ;-)

Or Maybe it was done with purpose due

[2021-11-05 23:04] jeertmans opened #7541 "[Idea] A less verbose @jitclass interface with type hints"
Hello everyone,

### Context
I really like the power that Numba offers for rapidly developing ideas, and I think that the compilation of Python classes is a complex but great feature that can be further developed. Until now, I have not used that feature a lot, mainly due to its limitations, but from time to time it appears to be very useful.

However, the steps that are required to jit a class are

[2021-11-06 07:39] GuillaumeLeclerc commented on #6543
I ran into this today so I assume it's not fixed yet right ?

[2021-11-06 11:39] jeertmans opened #7542 "[Docs] Wrong link to `np_shape` source code in docs"
Hello,

It appears that the link to the implementation of `np_shape` function is not correct [here](https://numba.pydata.org/numba-doc/dev/developer/autogen_numpy_listing.html#numpy.shape). The lines should be [L2077-L2083](https://github.com/numba/numba/blob/master/numba/np/arrayobj.py#L2077-L2083).

If you want, I can propose a PR with a fix.

[2021-11-06 11:51] icezyclon commented on #6543
Hi, so for the issue was not fixed to the best of my knowledge.
There was #6577 which attempted to fix this bug, but it is not sufficient on its own to fix it and has therefore not been merged yet.

I personally got around the whole set problem by using the keys of a dictionary as a replacement for set.
A dict has similar time complexity as a set and supports a number of similar operations. :+1:

[2021-11-06 11:55] jeertmans commented on #7521
Hello @Twomem, I think the best way to implement this would be to stick to Numpy's way, i.e. broadcasting `a_min` and `a_max` into the same shape as input array `a`. Then, one could simply changes a few lines in [L1901-L1940](https://github.com/numba/numba/blob/master/numba/np/arrayobj.py#L1901-L1940): https://github.com/numba/numba/blob/f41b7e3292bfc7adc230fac694fb3429259bdab3/numba/np/arrayobj.p

[2021-11-06 12:00] jeertmans commented on #7406
Hello @danilo-bc, are you still working on this ? Otherwise, I would gladly give it a try!

[2021-11-06 12:13] danilo-bc commented on #7406
Please feel free to take it over. I've had a few unexpected problems in the meantime.

[2021-11-06 12:28] jeertmans commented on #7406
Thanks for the quick reply! I will try it myself then.

[2021-11-06 17:57] zephyr111 commented on #7534
The code should be this one [here](https://github.com/numpy/numpy/blob/d85523a7433baab1734a5436123cda9497124516/numpy/core/src/multiarray/arraytypes.c.src#L3957). As you can see there is no specific optimization for wide data types. The compiler used to produce the binary should apparently perform the optimization (which is apparently the case on my machine). However, they actually use `memset` fo

[2021-11-07 14:06] Fngg commented on #5636
python -m pip uninstall numba
python -m pip install numba==0.47.0

[2021-11-07 14:06] Fngg commented on #6973
python -m pip uninstall numba
python -m pip install numba==0.47.0

[2021-11-07 14:06] Fngg commented on #7536
python -m pip uninstall numba
python -m pip install numba==0.47.0

[2021-11-07 14:37] kjz1997 commented on #7536
Thank you！I will try it later

发自我的iPhone

[2021-11-08 11:24] gmarkall commented on #7521
Support for `broadcast_to` was merged recently: https://github.com/numba/numba/pull/7119

[2021-11-08 15:08] gmarkall commented on #7526
I wonder if https://github.com/numba/numba/pull/7359 fixes this

[2021-11-08 15:25] esc commented on #7532
@AhmetCanSolak can you outline what kind of problems you were having? I.e. were there any error messages or such? Maybe we can make it easier to include this shared library.

[2021-11-08 16:11] esc commented on #7540
@jeertmans thank you for asking about this. We did have some SEO issues in the past, which is probably why you ended up on the documentation for Numba 0.52 -- not 0.54.

There is a ticket open about this here:

https://github.com/numba/numba/issues/6677

So, I believe, what you are looking for is already documented here:

https://numba.readthedocs.io/en/stable/user/jitclass.html?highlight=jitclass

[2021-11-08 19:19] sklam commented on #7534
@zephyr111, can you tell us what numpy version you have and how you installed it? I wonder if it is a numpy 1.21 specific thing or maybe a build-specific thing.

[2021-11-08 21:13] sklam commented on #7542
Thank you for letting us know.

The doc generation script needs to be updated to use permalink to the commit instead of floating on the branch HEAD.

The doc from `numba.pydata.org` is outdated. Related to https://github.com/numba/numba/issues/6677

[2021-11-08 21:18] sklam commented on #7542
The code that inject the link in at:

https://github.com/numba/numba/blob/f41b7e3292bfc7adc230fac694fb3429259bdab3/numba/misc/help/inspector.py#L19-L31

[2021-11-08 21:53] jeertmans commented on #7540
Indeed @esc it seems to be related to that problem. I will be more careful next time and I hope that search engines will update to refer to the correct site :)

I think I can close this then.

[2021-11-08 21:53] #7540 closed

[2021-11-08 23:07] zephyr111 commented on #7534
The Numpy version I had was 1.20.3 (written in the previous post). It has been installed using Python PIP. I am running on Windows.

I tried to install Numpy 1.21.4 alone and get no significant change. I kept Numpy 1.20.3 since PIP claim that Numba 0.54.1 is not compatible with the last version of Numpy.

[2021-11-09 08:07] jeertmans commented on #7542
@sklam OK, I see! Do you already have someone working on that, or is it still open?
I am not sure if I can handle this problem, but I can give it a try for sure and let you know.

[2021-11-09 08:25] esc commented on #7540
No worries, this is a "gotcha" for many people. It's quite unfortunate.

Thank you for following up and thank you for your effort.

[2021-11-09 08:58] MacJei commented on #7339
Hi guys. We are currently having problems importing the snap library. This may be related to the snap update. Start a new issue?
 python
Python 3.7.3 | packaged by conda-forge | (default, Jul  1 2019, 21:52:21)
[GCC 7.3.0] :: Anaconda, Inc. on linux
Type "help", "copyright", "credits" or "license" for more information.

/opt/conda/lib/python3.7/site-packages/pandas/compat/_optional.py:138: UserWar

[2021-11-09 09:41] esc commented on #7339
@MacJei thank you for asking about this. I don't think there is the need to open a new issue, we already have a pull-request for Numpy 1.21 support here: https://github.com/numba/numba/pull/7483 -- feel free to subscribe to that issue for updates. Numpy 1.21 support will be available with Numba 0.55.

[2021-11-09 09:54] stuartarchibald opened #7545 "LiteralStrKeyDict incorrectly handles missing const-key at compile time."
## Reporting a bug

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

This:
[code]
does this (or wraps it as an `InternalError` in the `old_style` error capturing

[2021-11-09 18:56] AhmetCanSolak commented on #7532
Thank you @esc ! I kept getting `_box` not found at `from numba.experimental.jitclass import _box` errors when I try to run my executables. I followed the calls back and fount out in `numba/numba/core/cpu.py` file imports from experimental submodule otherwise I am not using anything from `experimental`. I tried copying this shared library to my pyinstaller bundle manually but shared library was ca

[2021-11-09 19:08] esc commented on #7532
No sure exactly. Can you just strip the import when you package it maybe? Otherwise, maybe you can remember what error the shared library was causing? I am also surprised as to why it was not installed by default.

[2021-11-09 19:25] AhmetCanSolak commented on #7532
I strip imports manually every time I create a new build environment, that's my solution for now.

Here is the full trace of the error if it helps:
[code]

[2021-11-10 04:29] auderson opened #7549 "support for axis argument in mean, max, median, nanmean, nanmax, etc"
---

## Feature request

Currently, only `sum` supports `axis` argument. It will be nice if functions like `mean`, `max` and `nan-functions` support `axis` argument as well.

[2021-11-10 07:23] esc commented on #7549
@auderson thank you for raising this. I believe this is a duplicate of https://github.com/numba/numba/issues/1269

[2021-11-10 07:25] esc commented on #7532
Interesting, it seems like the real error is being swallowed somehow. I wonder if the library is maybe in the wrong place or perhaps it has been miscompiled.

[2021-11-10 09:07] MacJei commented on #7339
@esc thank you

[2021-11-11 07:20] esc commented on #7472
Closing this issue as it seems to be resolved. If this is not the case please re-open with a comment about any item that appears to be unresolved. Many thanks.

[2021-11-11 07:20] #7472 closed

[2021-11-11 07:21] esc commented on #7473
Closing this issue as it seems to be resolved. If this is not the case please re-open with a comment about any item that appears to be unresolved. Many thanks.

[2021-11-11 07:21] #7473 closed

[2021-11-11 07:21] esc commented on #7476
Closing this issue as it seems to be resolved. If this is not the case please re-open with a comment about any item that appears to be unresolved. Many thanks.

[2021-11-11 09:47] Mobbybobby opened #7550 "njit on f2py wrapped code"
---

## Feature request

Hi,

is there a way to use numba in no python mode on functions that were wrapped with f2py?

thanks

[2021-11-11 13:04] juliusbierk commented on #3426
Bump! :)

Just can into the same issue:

[code]

[2021-11-11 13:15] juliusbierk commented on #3426
IMO this seems right.
The only issue could be if the user supplies probabilities whose sum exceed one.
They should then be warned. Perhaps and error?

[2021-11-11 13:19] juliusbierk commented on #3426
I tried to submit a suggestive PR.
Should the behaviour also be tested?

[2021-11-11 13:23] esc commented on #3426
Yes, we do like tests, especially for this kind of stuff. The PR is #7551 ?

[2021-11-11 13:40] juliusbierk commented on #3426
Yes that is the PR. I just added a test.

[2021-11-11 20:13] ehsantn opened #7553 "List.insert() crashes for Numpy arrays"
## Reporting a bug

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

This code segfaults for me (on Mac OS). Didn't see an obvious issue in insert's implementati

[2021-11-11 21:12] ehsantn commented on #7553
I think I found the issue. The setitem call here decrefs the old value but it shouldn't. I'd be happy to submit a PR if this sounds correct.
https://github.com/numba/numba/blob/805e24fbd895d90634cca68c13f4c439609e9286/numba/cpython/listobj.py#L982

[2021-11-11 21:51] louisadamian opened #7555 "Unknown attribute 'to_device' module 'numba.cuda'"
## Reporting a bug

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

When trying to use numba.cuda.jit moving ndarrays to the gpu I get the error `Unknown attrib

[2021-11-11 21:54] gmarkall commented on #7555
You can't transfer data to the device inside a kernel - you need to transfer it outside the kernel, prior to the launch.

It's probably worth working through the CUDA tutorial to get an idea of how to get started with the CUDA target: https://github.com/numba/nvidia-cuda-tutorial

[2021-11-12 03:19] #7436 closed

[2021-11-12 03:20] guilhermeleobas commented on #7492
An attempt to fix this is implemented in #7244

[2021-11-12 08:30] esc commented on #7553
@ehsantn thank you for raising this. Will the suggested fix take care of the segfault? If so, please do prepare a PR so we can run it though CI? What kind of patch would you propose?

BTW: I can confirm I am able to reproduce this on OSX with Python 3.9 and current `HEAD` at `5fc9d3c56da4e4c6aef7189e588ce9c44263d4a6`.

[2021-11-12 10:33] stuartarchibald commented on #7550
@Mobbybobby Numba has support for calling functions from external libraries via `ctypes` (docs: https://numba.readthedocs.io/en/stable/reference/pysupported.html?highlight=ctypes#ctypes). Should the `f2py` compiled library export a symbol to the underlying fortran function then it should be possible to bind to this. Note that extreme care will be needed with regards to memory managements (i.e. be

[2021-11-12 10:34] stuartarchibald commented on #7550
xref: https://github.com/numba/numba/issues/3086 which should provide some hints and examples.

[2021-11-12 14:45] louisadamian commented on #7555
Thank you, Will do.

[2021-11-12 14:45] #7555 closed

[2021-11-12 19:11] GuillaumeLeclerc opened #7558 "No correct way to write a vectorized cuda kernel"
It seems that eager compilation is depreciated as the example from the docs raises an error.
[code]

The official mitigation for this depreciation is to remove the signature. However when doing this we get an error:

[code]
raises: `No matching version.  GPU ufunc requires array arguments to have the exact types.  This behaves like regular ufunc with casting='no'`

(ran with '0.54.1')

[2021-11-12 19:20] esc commented on #7558
@GuillaumeLeclerc thank you for raising this! @gmarkall would you be able to take a look at this?

[2021-11-12 19:27] gmarkall commented on #7558
The current version of Numba master doesn't raise the error anymore. We should check when the RC is cut that it still doesn't occur, then close this issue if that's the case at that point. For that reason, I'm adding this to the 0.55RC milestone, but no action is needed right now.

[2021-11-13 16:41] ehsantn commented on #7553
Yes, it fixes the segfault. It's a small change. Will open a PR soon.

[2021-11-13 17:31] esc commented on #7553
Thank you! 🙏

[2021-11-13 17:33] #7549 closed

[2021-11-15 08:27] VIC-LKH opened #7559 "I have a problem with copy_to_host() ?"
## Reporting a bug
Hi, I encountered a problem when I copied data from the device to the host. I'm sorry that it's not convenient for me to update the version of Numba. My code execution environment is:
- version: cuda 11.0, Python 3.8.5, Numba 0.53.1
- platform: Windows10, RTX 2080 Ti.

[code]

![657042a6e63228b3bd18d2e843390c1](https://user-images.githubusercontent.com/32983549/141743505-8e07bcb

[2021-11-15 08:28] esc commented on #7486
Closing this issue as no new information has been provided. It is assumed that the above resolved the reported issue, if this is not the case please reopen the issue with new information. Many thanks.

[2021-11-15 08:28] #7486 closed

[2021-11-15 08:30] esc commented on #7376
Still needs looking into.

[2021-11-15 08:48] esc commented on #7559
@VIC-LKH thank you for reporting this. @gmarkall can you perhaps take a look?

[2021-11-15 09:39] gmarkall commented on #7559
The output is off-by-1 because you're accessing everything off-by-1 in the kernel, including in the printing function - you're actually running off the end of the array in the kernel. If you run under `compute-sanitizer` you'll see evidence of this:

[code]

Instead of making references like `device_edgeAttr[nodeID*stride+0][1]`, I think you should be using things like `device_edgeAttr[nodeID*stri

[2021-11-15 10:16] Twomem commented on #7521
Hi @jeertmans and @gmarkall , thanks for getting back to me. Great to know broadcasting is now supported. Could you clarify what you mean by "one could simply change(s) a few lines in L1901-1940"? would this be to just comment out L1905-L1909? I am unsure whether you mean that np.clip can take ndarrays in the a_max and a_min as this seemed to cause the original error, not the broadcasting issue?

[2021-11-15 10:27] VIC-LKH commented on #7559
Oh, very sorry to disturb you. I have changed the code before and only focused on the previous index subscript. Oh my god, I forgot to change the second index subscript and have struggled it for hours. Thank you very much. @gmarkall

[2021-11-15 10:45] gmarkall commented on #7559
No problem - generally when I see something odd that I can't understand, running through `compute-sanitizer` can help a lot to point out what the issue is (it can also detect data races and other thread sync errors: https://docs.nvidia.com/compute-sanitizer/ComputeSanitizer/index.html)

[2021-11-15 10:45] #7559 closed

[2021-11-15 10:50] gmarkall commented on #7521
I think @jeertmans might have been suggesting that the `isinstance` checks could be modified such that they check whether `a_min` and `a_max` are either `None`, a number, or an array with the same shape as the input. I'd expect the implementation would also need modifying for the case where the min/max values are an array of the same shape as the input too.

[2021-11-15 12:34] jeertmans commented on #7521
Hi @Twomem, based on [the following](https://numpy.org/doc/stable/reference/generated/numpy.clip.html)
[code]
you should only consider two cases: `None` and array-like (scalars and ndarrays) objects. For the second, you can simply (1) broadcast `a_min` and `a_max` against `a`, then iterate through each triplet of values using, e.g., `array.iter` so that the shape does not matter anymore.

Hope it

[2021-11-15 12:59] esc opened #7562 "Numba support for Python 3.10"
Dear all,

as you may know, we encountered some serious issues when attempting to port
Numba to Python 3.10. This issue will serve as a summary of existing challenges
and also as a central reference issue with links to all existing branches and
PRs.

The story so far
----------------

Supporting new Python versions for Numba is always somewhat involved. The main
reason for this is that Numba inter

[2021-11-15 14:21] Mobbybobby commented on #7550
Thanks for the response. When trying to get the adress I get this error:
`AttributeError: module 'BPS' has no attribute '__pyx_capi__'`

Sry.. I'm not familiar with ctypes :/

[2021-11-15 14:25] hroskes opened #7565 "Frozenset support"
---

## Feature request

Would it be possible to have support for `frozenset`s in numba in nopython mode?  This way they could, for instance, be members of other sets or keys in dicts.

[2021-11-15 14:41] esc commented on #7565
@hroskes thank you for the suggestion, I have labeled it as a feature request.

[2021-11-15 15:47] esc commented on #7562
Latest test run is at: https://github.com/numba/numba/pull/7563

[2021-11-15 17:40] kozlov-alexey opened #7566 "Support nested tuples as tuples of literal elements"
- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

Hi,

I recently encountered a case when type-inference tends to 'unliteral' tuple elements (more precisely neste

[2021-11-15 19:22] stuartarchibald commented on #7415
Closed by #7177.

[2021-11-15 19:22] #7415 closed

[2021-11-15 19:22] stuartarchibald commented on #7414
Closed by #7177.

[2021-11-15 19:22] #7414 closed

[2021-11-15 19:27] stuartarchibald commented on #7566
Thanks for the report. I think this is because in the `test_impl_3` the tuple item is derived from an `ir.Const` which as noted in the above is type inferred via:
https://github.com/numba/numba/blob/5fc9d3c56da4e4c6aef7189e588ce9c44263d4a6/numba/core/typeinfer.py#L1481-L1487
and there's no literal type for it which is why it behaves differently. Will raise this at the public meeting tomorrow. Prev

[2021-11-15 19:29] kozlov-alexey opened #7568 "Using literally suppresses info in compilation failure traceback"
- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

Hi,

This is regarding `numba.literally` which is working normally itself, but has a shortcoming of masking the

[2021-11-15 19:48] stuartarchibald commented on #7568
@kozlov-alexey Thanks for the report. If you switch on logging the exception is in there.
[code]
running with that also gives a large backtrace but it does contain:
[code]

[2021-11-15 21:37] AhmetCanSolak commented on #7532
I don't know but I am using latest numba version available always, so if it fixes itself on newer version I can tell.

[2021-11-16 10:41] esc opened #7569 "for-with-break construct fails on Pythons 3.7 and 3.8"
## Reporting a bug

- [ ] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [ ] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

The for-with-break case does not succeed through bytecode interpretation.

[code]

On 3.7:

[2021-11-16 13:19] stuartarchibald commented on #7510
Closing this question as it seems to be resolved. Numba now has a discourse forum https://numba.discourse.group/ which is great for questions like this, please do consider posting there in future :) Thanks!

[2021-11-16 13:19] #7510 closed

[2021-11-16 13:19] stuartarchibald commented on #7503
Closing this issue due to lack of information. If more information becomes available please add it and reopen the issue. Thanks.

[2021-11-16 13:19] #7503 closed

[2021-11-16 13:23] stuartarchibald commented on #7495
@juliusbierk this was discussed at the public development meeting here: https://github.com/numba/numba/wiki/Minutes_2021_10_26#1-new-issues it was concluded that a potential fix is to carry a flag on the `Integer` type that holds information about the domain (e.g. guaranteed positive). Coercion rules can then be written based on this and various checks and branches in the case where it's always po

[2021-11-16 13:36] stuartarchibald commented on #7105
Closing. https://github.com/numba/numba/pull/7230 Fixed.

[2021-11-16 13:36] #7105 closed

[2021-11-16 13:36] juliusbierk commented on #7495
@stuartarchibald thanks for the update. I will keep an eye on the issue :)

[2021-11-16 13:38] stuartarchibald commented on #7170
Fixed by https://github.com/numba/numba/pull/7230. Closing.

[2021-11-16 13:38] #7170 closed

[2021-11-16 13:43] stuartarchibald commented on #6839
Closing this issue as it seems to be resolved. If this is not the case please re-open with a comment about any item that appears to be unresolved. Many thanks.

[2021-11-16 13:43] #6839 closed

[2021-11-16 14:50] athompson673 opened #7571 "Documentation Cuda example wrong indentation"
I am just reading up about Cuda for the first time, so I may be wrong here, but it seems there's a typo in the [cuda example](https://numba.pydata.org/numba-doc/latest/cuda/examples.html) in the documentation:

[code]

should be: (indentation of syncthreads and partial product computation)

[code]

It would seem the source on [master](https://github.com/numba/numba/blob/master/numba/cuda/tests/doc

[2021-11-16 16:09] jbrockmendel commented on #6839
I still get this segfault, but no one else has been able to reproduce it, so i have no objection to closing this.  i can comment or open a new one if i find some new debugging-relevant information.

[2021-11-16 17:45] stuartarchibald commented on #7566
@kozlov-alexey Following on from today's public Numba development meeting. The outcome of the discussion on this ticket was to make the three cases consistent and in all cases the nested tuple should be literal.

[2021-11-16 19:19] ehsantn opened #7572 "Object mode code fails to load from cache"
## Reporting a bug

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

Object mode code below fails to load from cache. The problem is that the objmode dispatcher

[2021-11-16 20:54] nelson2005 opened #7573 "numba 0.54.1 casting IntEnum regression"
numba 0.54.1
python 3.7.3
windows 10

This was first reported in [discourse](https://numba.discourse.group/t/casting-intenum-to-numba-int16/1005)

This code works in plain python and numba 0.53.1 but fails with numba 0.54.1

[code]
Error is

[2021-11-17 01:02] erip opened #7574 "Add non-constant boundaries for numba.stencil"
---

## Feature request

I'm interested in implementing the following stencil corresponding to the 1D Poisson stencil:

[code]

My initial attempt using `@numba.stencil` was

[code]

However this does not do any "special" handling of the endpoints thus leading to an incorrect solution. I'm not exactly sure what the API should look like in this case, but it would be nice to support something like t

[2021-11-17 08:35] auderson opened #7575 "cache missed for str arguments"
## Reporting a bug

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

First define a function with str type argument, and save it to `mymod.py`
[code]
Then run th

[2021-11-17 10:48] gmarkall commented on #7571
The documentation linked in the issue is for Numba 0.50 - it has since been modified, and the latest version is at: https://numba.readthedocs.io/en/latest/cuda/examples.html - PR #7330 also added CI testing of this example.

Does the code in the latest version still look incorrect?

[2021-11-17 10:50] gmarkall commented on #7572
I can reproduce the issue.

[2021-11-17 10:54] gmarkall commented on #7573
I can reproduce this. This was introduced by f2311d20934a883dde3a2050ff947ff0f5d07977.

[2021-11-17 11:02] gmarkall commented on #7573
(cc @testhound)

[2021-11-17 11:21] gmarkall commented on #7575
Many thanks for the report - I can reproduce this behavior, and will bring up a discussion about it in the next triage meeting.

[2021-11-17 12:43] stuartarchibald commented on #7575
Duplicate of https://github.com/numba/numba/issues/6957 ? Closed by https://github.com/numba/numba/pull/7422 ?

[2021-11-17 13:45] ehsantn commented on #7572
Thanks for triaging. I can submit a PR if the approach of removing these copies makes sense.

[2021-11-17 14:34] gmarkall commented on #7572
Thanks - I'm not sure what the right approach is, so I added the needtriage label so we could discuss it in the next triage meeting - I think someone else might have a better intuition about the right approach than I do :-)

[2021-11-17 17:02] Vyacheslav-Smirnov opened #7576 "test_no_accidental_warnings (numba.tests.test_import.TestNumbaImport) fails on Python 3.9 Windows"
test_no_accidental_warnings (numba.tests.test_import.TestNumbaImport) fails on Python 3.9 Windows with following message:
DeprecationWarning: the imp module is deprecated in favour of importlib; see the module's documentation for alternative uses

How to reproduce:

[code]

Output:

[code]

[2021-11-17 19:57] trenst commented on #4507
I also need to call some cuBLAS functions from device code.  In particular I need to call cublasSnrm2 and cublasDnrm2.

[2021-11-18 00:19] #6420 closed

[2021-11-18 00:20] #6518 closed

[2021-11-18 00:20] #7416 closed

[2021-11-18 07:05] auderson commented on #6382
I guess the following codes could be a workaround to enable `nogil`:
What I did here is just adding `flags.release_gil = True` to `_ModuleCompiler._cull_exports` and let `CC` use the modified compiler.

[code]

Then use `CC_mod` instead of `CC`:

[code]

results from running @99991 's benchmark

[code]

[2021-11-18 09:58] dlee992 opened #7577 "values in a list become odd in nopython mode and no warning or error reported"
## Reporting a bug

[code]

I use python 3.8.8 & numba 0.54.0 & llvmlite 0.37.0 and tested this code snippet in my macbook pro.

I think this is a type inference error in numba internal.

Besides, my purpose is that a list can store float or None, I think numba.typed.List cannot store None value, so I have to use reflected list as above. Any other option to implement my purpose?

I would like to c

[2021-11-18 10:08] esc commented on #7577
@dlee992 thank you for asking about this. You can try to use `1.0` instead of `1`:

[code]

[2021-11-18 10:17] dlee992 commented on #7535
@sklam ,  @ehsantn , thanks.

Recently, I saw SDC gives a str_ext implementation, the core idea is like below:

[code]

It seems sdc uses `with objmode` to callback to python interpreter code.

But I don't know whether this kind of operations will unbox python unicode type to numba UnicodeType, and box back when call `replace` or other str operations. Can this boost string performance, e.g., achie

[2021-11-18 10:26] gmarkall commented on #4507
@trenst would it be a sufficient workaround for your use case to use CuPy arrays and its `norm` function? https://docs.cupy.dev/en/stable/reference/generated/cupy.linalg.norm.html - you wouldn't be able to call this directly from a Numba kernel, but you would be able to keep the data on the device, because you can pass CuPy arrays directly to Numba kernels, instead of using Numba device arrays.

[2021-11-18 10:32] dlee992 commented on #7577
@esc , Yes, it does. But I can make up another bug like this (Actually, maybe I can make up a lot of bugs like this):

[code]

How to workaround this?

[2021-11-18 10:35] dlee992 commented on #7577
I really met this kind of bug in my project, which really contains similar code structure as above. -_-

[2021-11-18 10:39] gmarkall commented on #7576
This error appears to be coming from pywin32, not Numba - I tried this in an environment without pywin32 and the tests passed. After adding pywin32 to the environment, the test failed. The traceback above seems to indicate that `win32.lib.pywintypes` is importing `imp`.

Am I misunderstanding something here?

[2021-11-18 11:35] esc commented on #7577
Interesting! Thank you for raising this. I can reproduce! This may indeed be a genuine bug.

[2021-11-18 12:24] sztal opened #7578 "Compilation with `parallel=True` gives garbage results for a very simply parallelizable function"
I have a relatively simple (and seemingly easily parallelizable) function for which I get different results when compiling with `parallel=True` and `parallel=False`. I guess that there must be some race conditions at play, but I really cannot see why.

I am not 100% sure whether it is a bug or just some fault in my code, but it was suggested to me on [SO](https://stackoverflow.com/questions/699580

[2021-11-18 13:11] stuartarchibald commented on #7578
Thanks for the report, I can reproduce. MWR:
[code]
gives:
[code]
CC @DrTodd13

[2021-11-18 13:21] sztal commented on #7578
Thanks for looking at this so quickly! I have one more remark (just in case it matters).

In my function the out-of-loop array `B` which is populated with values by the main loop is initialized to _empty_ values. In your reprex it is initialized to zeros. This probably does not matter for testing the problem, but I am mentioning this in case it may matter. And in practice this is sometimes importa

[2021-11-18 13:38] stuartarchibald commented on #7578
Thanks for the note. I made it zeros to flush the memory to try and see if it was junk from the original uninitialised memory or junk from something else. Indeed, for performance, don't allocate zeros unless you _really_ need to!

[2021-11-18 13:42] stuartarchibald commented on #7578
Also, @DrTodd13, I think this is an issue with loop fusion, the `np.cos()` loop is being fused with the `prange`, but the `prange` body has a reduction on the result. Adding in a function call to prevent fusion leads to the MWR working:
[code]

[2021-11-18 15:22] stuartarchibald commented on #7059
Is this fixed by #7057 ?

[2021-11-18 15:24] stuartarchibald commented on #7039
This is an 0.55 post release task.

[2021-11-18 17:10] gmarkall commented on #7039
Should it then be in the 0.56 milestone?

[2021-11-18 17:24] stuartarchibald commented on #7039
This is a good point. In the 0.55 release burn-down meeting this was discussed and it was decided to keep it in 0.55 as a reminder. As soon as the branch to `release0.55` is created the switch could be made. It was considered that putting it into 0.56 and it joining a lot of other tickets there would result in it potentially being less visible.

[2021-11-18 17:26] gmarkall opened #7579 "CUDA: Lowering error using character sequences in record types"
After #7057 is merged, it still will not be possible to use character sequences in record types due to a lowering error. An example reproducer:

[code]

results in:

[code]

[2021-11-18 17:57] gmarkall commented on #7579
@stuartarchibald points out that this does work:

[code]

(The attribute access of the record is causing the problem)

[2021-11-18 17:58] stuartarchibald commented on #7579
The CPU equivalent to the OP also fails the same way:
[code]

[2021-11-18 20:30] trenst commented on #4507
@gmarkall:  Unfortunately, no.  My 16 GB GPU doesn't have nearly enough memory to store the result of the norm calculation.  I use it in the kernel, but I don't need to store it.  To reduce memory useage, I would require 1000's of kernel calls when I only need to call it once if I calculate the norm in the kernel.  I have written my own device function to calculate the norm, but the roundoff error

[2021-11-18 22:21] #7545 closed

[2021-11-19 08:56] Vyacheslav-Smirnov commented on #7576
I need to have both packages in single environment. At the same time, I cannot reproduce the issue with pywin32 package directly:
If I try to import pywintypes, it works without any warnings:

[code]

But for some reason this warning appears in numba test.

[2021-11-19 12:13] stuartarchibald commented on #7577
I think this points towards the root cause of this:
[code]
the list is typed as `list(OptionalType(float64))`, but in appending an integer, it seems like no cast is made.

[2021-11-19 12:20] stuartarchibald commented on #7577
It also looks like each `list.append` call is being typed as a different Optional type, either `float64` or `intp`.

[2021-11-19 21:25] rekado commented on #7175
I'm just a curious bystander, but I'd like to note that numpy 1.21.3 will become the default numpy in GNU Guix in a few days.  We'll keep around numpy 1.20 specifically for numba, but it will complicate the installation of numba together with other Python packages using numpy 1.21 by default.

I'd be happy to upgrade numba in Guix as soon as compatibility with numpy 1.21 is achieved.  (Subscribing

[2021-11-19 23:31] #7041 closed

[2021-11-19 23:31] #7366 closed

[2021-11-19 23:32] #7365 closed

[2021-11-19 23:32] #7380 closed

[2021-11-20 03:18] guzuomuse commented on #6648
waiting....

[2021-11-20 19:40] jurgyy commented on #5894
Since this is still one of the first results you find when looking for "numba np.ix_" I'd share my workaround for 2d arrays here which is faster than using plain old numpy.

[code]

When comparing with this plain numpy implementation:

[code]

Performance:

[code]

Result:

[code]

[2021-11-21 21:53] njriasan opened #7585 "Support for len(dict.key()), len(dict.values()), len(dict.items())"
---

## Feature request

Python supports `len` on `dict.keys`, `dict.values`, and `dict.items`, but none of these seem to be supported in Numba. Should be a relatively simple change to support these.

Example:
[code]

[2021-11-22 03:17] dlee992 commented on #7577
@stuartarchibald , very cool! The `list` in `list(OptionalType(float64))` means which, `reflected list` or `typed list`? Can we declare sth like `lst = list(OptionalType(float64))` instead of `lst = []`, to tell numba the specifc type? In my second buggy case, numba transfer `0.1` to `None`, which is more surprising. Would you will fix this bug asap? I don't know whether I could fix this bug, but

[2021-11-22 10:00] Mobbybobby commented on #7550
I got the wrapping to work but numba doesn't work:
[code]

[2021-11-22 11:21] gmarkall commented on #6648
@guzuomuse If you need to get updates about a particular issue in your notifications, you can hit the "Subscribe" button in the right-hand column, which saves having to post a comment on the issue.

[2021-11-22 12:25] stuartarchibald commented on #7175
@rekado Numba 0.55 release candidates will be out within the next week or so (hopefully!), these will have NumPy 1.21.x series support. A post will be made to https://numba.discourse.group/c/announcements/ when RC builds are shipped.

[2021-11-22 13:09] Mobbybobby commented on #7550
This is the function that produces that error:
[code]

It seems that numba doesn't know ctypes?
Pls help

[2021-11-22 15:40] gmarkall commented on #7579
Potentially we could ban this sort of attribute access, as it's also not legal in normal Python, but compiles in some cases in Numba.

[2021-11-22 17:06] njriasan opened #7589 "Update simplify_CFG to handle dead blocks"
---

## Feature request

This is partially a feature request and partially a clarification question. Within my workflow I will sometimes generate code to inline an operation and then immediately call `simplify_CFG` to merge basic blocks. I have noticed that if there are any unreachable blocks, then may fail with various error messages.

I can avoid this by deleting these blocks before calling `sim

[2021-11-22 22:35] drew-parsons commented on #7452
llvmlite 0.37 is now packaged for debian.  I expect numba 0.54 will follow soon.

[2021-11-22 23:03] #7111 closed

[2021-11-23 10:21] Mobbybobby commented on #7550
I'm on windows and python 3.7 btw.

[2021-11-23 11:25] stuartarchibald opened #7590 "Fix GUFunc.at use by automatic compilation of the required signature."
Following on from: https://github.com/numba/numba/pull/7403#pullrequestreview-811752860

This ticket is to record the outstanding task, which is to do the above comment.

[2021-11-23 11:56] stuartarchibald commented on #7423
Closed by #7449 via https://github.com/numba/numba/pull/7483.

[2021-11-23 11:56] #7423 closed

[2021-11-23 12:00] gmarkall commented on #7590
cc @guilhermeleobas

[2021-11-23 12:01] stuartarchibald commented on #7175
Fixed by the now merged https://github.com/numba/numba/pull/7483, which includes the C code changes from #7449. Closing.

[2021-11-23 12:01] #7175 closed

[2021-11-23 12:01] stuartarchibald commented on #7176
Fixed by the now merged https://github.com/numba/numba/pull/7483, which includes the C code changes from #7449. Closing.

[2021-11-23 12:01] #7176 closed

[2021-11-23 15:34] ehsantn opened #7592 "Invalid static_getitem const inference for list comprehension"
## Reporting a bug

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

`RewriteConstGetitems` wrongly infers the output of a list comprehension as an empty list an

[2021-11-23 15:36] ehsantn commented on #7592
In general, this `static_getitem` concept makes writing compiler transforms difficult since you'd need to handle both `getitem` and `static_getitem` correctly in every case. Given that we have literal types now, we should get rid of this soon.

[2021-11-23 15:44] ehsantn commented on #7592
Looks like the constant inference code doesn't handle mutable types properly in general.

[2021-11-23 15:48] stuartarchibald commented on #7592
Thanks for the report, I can reproduce. I agree, I think the issue is most likely in constant inference.

[2021-11-24 00:00] #7120 closed

[2021-11-24 00:02] #7402 closed

[2021-11-24 00:03] #6957 closed

[2021-11-24 00:04] #7507 closed

[2021-11-24 00:14] slayoo commented on #7120
Thank you!

[2021-11-24 01:18] pantelisantonoudiou opened #7594 "Support for >1D bool array indexing"
## Reporting a bug
When using a 2D bool array to index an array of the same shape an error is raised.

### Code to reproduce error

[code]

### Error
[code]

### Numba/NumPy/Python version information

Numba: 0.54.1, Numpy: 1.20.3, Python: 3.9.5

[2021-11-24 05:25] dlee992 commented on #7577
@esc @stuartarchibald , right now, do we have any idea to workaround this kind of case before fixing it? I try to append -0.1234 instead of None, but it still fails to return correct list ... -_-

[2021-11-24 09:07] Mobbybobby commented on #7550
@esc Can you help me? Should i start a new issue?

[2021-11-24 09:55] stuartarchibald commented on #7550
@Mobbybobby the Numba engineers are currently preparing a release candidate for Numba 0.55 https://github.com/numba/numba/milestone/56 and so are unfortunately a little pushed for time at present. I'll help you with this if you are still stuck once the RC is done (so hopefully in about a week), alternatively you could ask on https://numba.discourse.group/ where the Numba community might be able to

[2021-11-24 10:00] auderson opened #7595 "failed to change arrays in list in a for loop"
## Reporting a bug

- [ ] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [ ] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

[code]
The first func will not pass the check.

When iterating over a list of arrays, if the

[2021-11-24 10:00] stuartarchibald commented on #7577
@dlee992 this was discussed at the triage meeting the other day. Conclusion was that because the (reflected) `list` implementation predates `Optional` it cannot safely handle your case as there's no type casting present, further, `numba.typed.List` explicitly rejects the handling of `Optional` types. This unfortunately means that there's no work around at present but you may be able to get away wi

[2021-11-24 10:06] stuartarchibald commented on #7120
@slayoo thanks, am glad to get this fixed!

[2021-11-24 10:14] stuartarchibald commented on #7594
Thanks for the report. I cannot reproduce the same error message (the reproducer is doing a `setitem` not a `getitem`?), however, the issue is that Numba does not cuurently support >1D bool array indexing. Another work around is:
[code]
Marking this as a feature request and adjusting the title.

[2021-11-24 10:40] stuartarchibald commented on #7595
Thanks for the report. This is a MWR:
[code]
Looks like there's an issue with the closure inliner or potentially with liveness analysis.

Numba IR, note the loop body in `30` has disappeared after running the closure inliner:
[code]

[2021-11-24 10:55] stuartarchibald commented on #7595
The issue is in `dead_code_elimination`, breaking and dumping `func_ir` either side of this call shows the loop body disappearing:
https://github.com/numba/numba/blob/714c0c44ec64e01e8de52c3906e947d10421f420/numba/core/inline_closurecall.py#L147

I'm going to guess that the root cause is that this pass is untyped but needs type information to determine aliasing, and even if that were provided I'm

[2021-11-24 12:57] stuartarchibald commented on #7575
Using current mainline 714c0c44ec64e01e8de52c3906e947d10421f420 which has https://github.com/numba/numba/pull/7422 merged. The above reproducer gives this on second invocation:
[code]
#7422 fixed. Closing.

[2021-11-24 12:57] #7575 closed

[2021-11-24 13:30] Mobbybobby commented on #7550
@stuartarchibald Thank you for responding. I'll try my best getting it to work with your example. I will report about my success in a week :)

[2021-11-24 17:33] iguinn commented on #7402
Thanks for fixing this! I'll be looking forward to the next release.

[2021-11-24 18:24] JK2Kgit opened #7598 "Wrong result while calculating big powers"
## Reporting a bug

- [X] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [X] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

While performing calculation on big powers function started to return diffrent result after

[2021-11-24 18:37] JK2Kgit commented on #7598
More Verbose example
[code]
After analiazying that looks like buffer overflow

[2021-11-25 02:35] dlee992 commented on #7577
@stuartarchibald , thanks, it makes sense.

[2021-11-25 09:59] stuartarchibald commented on #7598
Thanks for the report. Unfortunately for the case presented, Numba does not support big integers. As a result the calculations overflow the 64bit int (which is the maximum size Numba supports). Closing as a duplicate of https://github.com/numba/numba/issues/5005, there are some suggestions there about calling into GMP as a potential workaround.

[2021-11-25 09:59] #7598 closed

[2021-11-25 14:05] gmarkall commented on #7558
I can confirm the behaviour has not changed (and is not planned to change) so I'm closing this now as the error doesn't appear with the reproducer on master.

[2021-11-25 14:05] #7558 closed

[2021-11-25 16:01] gmarkall commented on #7526
With #7359, the following:

[code]

prints

[code]

So I think this will be resolved by #7359.

[2021-11-25 16:02] gmarkall commented on #7526
@astoeriko Are there any similar use cases that ought to be checked? Can you try with #7359 and check if it works for all your intended use cases?

[2021-11-25 17:49] stuartarchibald commented on #7589
Thanks for raising this @njriasan, should probably discuss this at the next public meeting https://numba.discourse.group/t/weekly-public-meeting-every-tuesday-for-2021/.

[2021-11-25 18:04] stuartarchibald commented on #7576
I think it's the `from pkg_resources import resource_filename` that causes the searching around the local installation and it's this that hits the `DeprecationWarning` in `pywintypes`. This was added into llvmlite to resolve: https://github.com/numba/llvmlite/issues/468.

I think any situation where:
* a test suite asserts for no deprecation warnings
* `resource_filename` is in use somewhere prior

[2021-11-25 18:58] astoeriko commented on #7526
That sounds great, thanks for testing! I wanted to test it for a while but did not actually get around to do so.

I will try with my use cases and get back to you.

[2021-11-26 18:39] tpitkanen opened #7599 "Initializing and returning a custom dtype array/record from njit causes garbled data"
## Reporting a bug

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

Hi,

I found the following issue: Numba allows initializing a custom `numpy.dtype` array/rec

[2021-11-26 18:58] kozlov-alexey opened #7600 "TBB backend not working on Win due to wrong dll name"
- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

Hi,

It seems that compiling with `NUMBA_THREADING_LAYER=tbb` doesn't work on windows at all. The attempt to loa

[2021-11-26 19:38] sede10 opened #7601 "Pickling error when creating jitclass with list of nested jitclass objects"
When creating a jitclass where one of elements is a list of objects of jitclass, containing other jitclass object, there is an error:
[code]

[code]

I tried using also
```@nbe.jitclass([("l", nb.types.ListType(typeof(c)))])```
which gives the same error

[2021-11-26 19:44] sede10 opened #7602 "Casting error when creating jitclass with list of nested jitclass objects"
When creating a jitclass where one of elements is a list of objects of jitclass, containing other jitclass object, there is an error:
[code]

[code]
numba 0.54.0

[2021-11-27 17:15] AzizAlqasem commented on #5706
Adding support for Metal will significantly help a broad class of Mac and Numba users. I am Ph.D. student specialised in physics. Having Numba GPU accelerator on my Mac (m1 pro) will help me parallize “Time Dependent Schrodinger Equation”!
I wish I can add this feature myself, but this is way beyond my knowledge and experiance.

[2021-11-28 14:07] JeppeKlitgaard commented on #4121
I just wanted to add that this is also a feature I would find super useful in Numba, though I appreciate it might be difficult to implement.

Doing either of the two `einsum`s @lsorber would be very verbose while also being much more difficult to read. Particularly those from a physics or math background might be more comfortable with `einsum`s.

Even if the implementation is not perfectly optimiz

[2021-11-29 10:02] stuartarchibald commented on #7601
Thanks for the report, I can reproduce. The issue stems from serialization of `jitclass` not being supported and the box/unbox code generation for the `BiggerContainer` instance requires a serializable representation of its member types.

[2021-11-29 10:09] stuartarchibald commented on #7602
Thanks for the report. I suspect this is an issue with the use of `DeferredType` in the `ListType`, it looks like the `numba.typed.List` instance types itself as the deferred type but then cannot be cast to the type registered through `.define()`.

[2021-11-29 10:14] stuartarchibald commented on #7602
MWR:
[code]

[2021-11-29 10:30] Vyacheslav-Smirnov commented on #7576
Ok, looks like the issue was fixed in pywin32 package 302 build.
So I am closing this issue.

[2021-11-29 10:30] #7576 closed

[2021-11-29 10:31] stuartarchibald commented on #7576
Great, thanks for confirming @Vyacheslav-Smirnov.

[2021-11-29 10:54] gmarkall commented on #7104
I just tried this with Windows 11, Driver 510.06, and Ubuntu 20.04 - building and running Numba master (and running the test suite) seemed to work fine with no issues.

@Sahuta If you install all available updates (Windows updates, NVIDIA driver if it's older than 510.06, WSL kernel (`wsl.exe --update` in a command prompt) and Ubuntu, and Numba), does the issue still occur?

[2021-11-29 11:31] tpitkanen commented on #7599
From [#5853](https://github.com/numba/numba/issues/5853#issuecomment-893275330):

That explains why `zeros_array_print2` works and `zeros_array_print` doesn't.

I would have expected `zeros` to behave like `ones` and `full` do and throw a `TypingError`, but I guess those are different.

Closing this as a duplicate, thanks.

[2021-11-29 11:31] #7599 closed

[2021-11-29 11:37] stuartarchibald commented on #7600
Thanks for the report. I can reproduce on OSX with:
[code]

[2021-11-29 11:42] stuartarchibald commented on #7600
On OSX the `tbbpool.<version stuff>.so` linkage looks ok, it's `@rpath/libtbb.12.dylib`, which suggests the issue is indeed in the version compatibility check. The command `numba -s` reports TBB support based on whether it can _load_ the `tbbpool.<>.so` DSO, and in this case it can, but the check is failing at runtime. I think the version compatibility check might also need to go into the `numba -

[2021-11-29 11:48] gmarkall commented on #7600
I can reproduce on Windows, also just using Stuart's environment setup:

[code]

Changing `libtbb_name ` to `tbb12.dll` does work around the issue for me.

[2021-11-29 12:53] stuartarchibald commented on #7600
Thanks for confirming @gmarkall.

[2021-11-29 12:57] stuartarchibald commented on #7599
IIRC `np.zeros` goes via `memset(3)`, whereas `np.ones` is doing `np.empty` and then assigning a `1` into each element, the typing error is coming from the `setitem` associated with this assignment.

Thanks for closing this as a duplicate.

[2021-11-29 14:44] Mobbybobby commented on #7550
hey @stuartarchibald.

I think i got it working like this:

[code]

But it is slower than using f2py without njit. Did I do something wrong?

[2021-11-29 16:59] gmarkall commented on #7104
A hypothesis: Numba looks for `libcuda.so`, then `libcuda.so.1` in that order. If there is a libcuda.so that can be found from a driver installed by a CUDA toolkit, then that might be found ahead of the the `libcuda.so.1` from the driver 510.x needed for CUDA on WSL.

[2021-11-29 19:29] seibert commented on #5706
I would still love to see this, but 18 months later, there still is not a good option (that I've found in my semi-yearly searching).  Apple does not seem to be interested in anyone being able to target their GPUs except by writing Metal C++, so they don't expose the LLVM API directly.  (The above LLAIR project still requires you generate code in the C++-based Metal Shading Language.)  Numba doesn'

[2021-11-29 23:41] #7210 closed

[2021-11-29 23:41] #7573 closed

[2021-11-30 03:27] auderson commented on #2644
I found this bug still exists in 0.54.1:

[code]

[2021-11-30 10:11] Mobbybobby commented on #7550
@stuartarchibald I got working like this:

[code]

But it is slower than using f2py to wrap without njit:

[code]
I tested it like this:
[code]
Output:
[code]

Is there anything I can do to improve speed?

[2021-11-30 12:20] esc commented on #4121
@JeppeKlitgaard thank you for asking about this. These are the relevant links from the issue tracker I was able to find:

https://github.com/numba/numba/pull/5514

https://github.com/numba/numba/pull/7289

Hope this helps?

[2021-11-30 14:38] thipokKub commented on #5706
Hello, I am sure I'm not qualified to write metal shader but in some documentation of Metal API it seems like you can create `MTLLibrary` object directly in swift at runtime using [makeLibrary](https://developer.apple.com/documentation/metal/mtldevice/1433431-makelibrary) function. I'm not sure if this is possible but technically, you can connect a compiled metal shader with python through swift (

[2021-11-30 15:09] seibert commented on #5706
Yeah, that part makes sense.  The hard part is translating Numba's generated code, which comes out of the compiler pipeline in some variant of LLVM IR (very low level), into the Metal Shader Language, which is C++-based (much higher level).  See the [Numba architecture docs](https://numba.readthedocs.io/en/stable/developer/architecture.html?highlight=IR#stage-6a-generate-nopython-llvm-ir) for exam

[2021-11-30 16:23] gmarkall opened #7607 "CUDA: Linking PTX only works for eager compilation"
Making the following change to the PTX linking test:

[code]

results in the following failure:

[code]

I note that the PTX is never linked (no call to `Linker.add_file()` is reached, but haven't investigated further.

[2021-12-01 09:18] rsinda commented on #7028
I Found that numba does not do garbage collection also. I created an API and ran a function 3 to 5 time it started consuming RAM from 1 gb and eventually end up with 8 gb.

[2021-12-01 11:03] stuartarchibald opened #7609 "Test suite on mainline@8be3456 is failing."
The issue is was first seen in the also unrelated change https://github.com/numba/numba/pull/7606#issuecomment-982522653

Log: https://dev.azure.com/numba/ff1fe4d0-ed73-4f1c-b894-1d50a27e048f/_apis/build/builds/10412/logs/134

Traceback:

<details>

[code]
</details>

[2021-12-01 11:14] JeppeKlitgaard commented on #4121
Thank you so much for having a look at this @esc

It looks like like those two PR's are indeed the better place for this discussion, and it is nice too see that both `np.tensordot` and `np.einsum` are progressing towards implementation. I rewrote my code to use for loops instead of `np.einsum`, but I wasn't able to get improved performance over pure-Numpy using Numba in this case.

[2021-12-01 13:00] stuartarchibald commented on #7609
When the failing build job was resubmitted, it passed. Bug appears to be non-deterministic.

[2021-12-01 14:10] stuartarchibald commented on #7609
This bit of the backtrace is potentially interesting:
[code]
related code:
https://github.com/numba/numba/blob/8be3456a271de3e1edb9e996a722376bc249b3ae/numba/core/typeinfer.py#L57-L64
I think this implies that the incoming type (`tp`) and the type of the `TypeVar` instance (`self.type`) are not equal, but the error message string suggests they are "the same":
i.e.
[code]
renders as:
[code]

[2021-12-01 17:48] thipokKub commented on #5706
Okay, please correct me if I'm wrong

So the problem is there is no known way to convert numba's LLVM IR code to metal GPU shader target. So I think it is right now next to impossible for anyone to compile an efficient code for metal GPU (except Apple)

[This blog](https://worthdoingbadly.com/metalbitcode/)'s result suggest that for the most part metal bitcode is very similar to the compiled LLVM

[2021-12-01 20:32] seibert commented on #5706
Yes, this is correct, and this is why I described this as a "research project".  :)  If someone figures this out, that would be a big step.

[2021-12-02 00:21] sklam commented on #7609
A deterministic and smaller reproducer is: ```python -m unittest numba.tests.test_linalg.TestProduct.test_dot_vm numba.tests.test_globals.TestGlobals.test_global_write_to_arr_in_tuple numba.tests.test_np_functions.TestNPFunctions.test_interp_float_precision_handled_per_numpy numba.tests.test_dyn_array.TestLinspace.test_linspace_2 -vb```

`test_interp_float_precision_handled_per_numpy` would fail f

[2021-12-02 02:41] Crear12 commented on #5706
I just want to propose another use case. I'm a PhD student dealing with point cloud data. Previously, I designed some python scripts with number cuda.jit to process the data in parallel, which reduced the process time from one hour (xeon) to 40 seconds (Quadro P4000). However, it was always painful when the GPU memory reached cap. We had several different solutions, including cut the data, got thr

[2021-12-02 09:14] dlee992 opened #7611 "njit with parallel=True causes fatal Python error and aborted"
# Reporting a bug

[code]

In this test code:

1. if uncomment `njit_parallel_func(ndarray_2d, ndarray_1d, numba_list)`, python process will be killed by sth bad happend in numba internal.
[code]
I think this is a bug with `parallel=True`

2. Besides, the function `_compute()` run much slower than pure python, I couldn't figure it out where I don't write well for numba compilation.
[code]

3. I ha

[2021-12-02 12:26] stuartarchibald commented on #7611
Thanks for the report. I suspect this is due to mutating a list in a parallel region, which is not supported as such containers are not threadsafe. xref docs: https://numba.readthedocs.io/en/stable/user/parallel.html#unsupported-operations.

[2021-12-02 12:52] #7609 closed

[2021-12-02 14:16] gmarkall opened #7612 "CUDA Benchmarking"
There is presently no benchmark suite for Numba’s CUDA target, and there is a gap between Numba’s performance and the maximum achievable. To support performance optimization efforts, a benchmark suite is needed that:

- [ ] Runs regularly (with CI, perhaps before merge)
- [ ] Measures compilation time - this has been drifting upwards with each release.
- [ ] Measures kernel launch time - this is k

[2021-12-02 14:19] quasiben commented on #7612
@pentschev and myself have built infrastructure similar to what is being asked for here:

- https://github.com/pentschev/ucx-py-ci/issues
- https://github.com/quasiben/dask-cuda-benchmarks/issues

These were designed to run nightly and push a public GH issue.  We liked this model because it's public and relatively low noise with high impact for noticing regressions for a once a day viewing

[2021-12-02 14:23] gmarkall commented on #7612
A useful benchmark for kernel launch time is here: https://github.com/numba/numba/issues/3003#issuecomment-627872661

[2021-12-02 14:32] gmarkall opened #7613 "CUDA typing mode"
Numba’s type inference is not well-suited to CUDA, and often assigns wider-than-necessary types to values. The effects are:

- This balloons register usage / reduces occupancy
- Reduces memory bandwidth efficiency,
- and forces the use of instructions that take more cycles than necessary.

Creating a specialized typing for CUDA so it is more appropriate for CUDA devices will alleviate these issues

[2021-12-02 14:41] pentschev commented on #7612
To add to @quasiben 's comment, the thing that can't be done is running before merging as it would need access to the repo, which we don't do today for UCX-Py. For that maybe we could check whether we have the resources for that in gpuCI, similar to what has been done in Dask, what do you think @quasiben ?

[2021-12-02 15:11] sklam opened #7614 "Make sure types.Type instances are not mutated"
_Originally posted by @stuartarchibald in https://github.com/numba/numba/pull/7610#pullrequestreview-821429226_

Todos:

- Use `@property` for attribute of `Type` instances.

[2021-12-02 15:33] gmarkall commented on #7612
The benchmark in the following comment could probably be used with tweaking for general measurement, and comparison with CuPy's JIT: https://github.com/numba/numba/issues/4647#issuecomment-537328981

[2021-12-02 15:34] gmarkall commented on #7612
Why wouldn't the repo be accessible? I'm guessing I'm missing some understanding here?

[2021-12-02 15:38] pentschev commented on #7612
Sorry, I didn't mean it can't be done, but rather that you would need specific permissions from the GH API/GH Actions to query each new open PR/run tests on it, like gpucibot has for all RAPIDS projects. The infrastructure mentioned in https://github.com/numba/numba/issues/7612#issuecomment-984669572 has no special rights to any repos, so it won't do any of those things today.

[2021-12-02 15:55] gmarkall commented on #7612
Ah, I see - many thanks for the clarification!

[2021-12-02 17:10] ehsantn commented on #7614
This has bitten us quite a few times too :) Very hard to debug.

[2021-12-02 21:08] jrenaud90 opened #7615 "Significant slow down on njit'd functions when optional arguments not provided"
Hello I ran into a problem where an njit'd function that has optional arguments is almost 200 times slower then when the arguments are provided.

I saw a similar issue from a [few years ago](https://github.com/numba/numba/issues/2029) which was resolved. Not sure if this is related or not. My numba and python versions are below.

[code]

Running this leads to the following output
[code]

As you ca

[2021-12-02 21:35] jrenaud90 commented on #7615
I should have mentioned that I ran that test in a Jupyter notebook.
IPython: 7.29.0
ipykernel: 6.4.1
jupyter_core: 4.9.1
jupyter_client: 7.0.6

[2021-12-02 22:22] isVoid opened #7616 "Local variable gets overwritten causing wrong gdb debugging display"
## Reporting a bug

- [x] I have tried using the latest released version of Numba (most recent is
 visible in the change log (https://github.com/numba/numba/blob/master/CHANGE_LOG).
- [x] I have included a self contained code sample to reproduce the problem.
  i.e. it's possible to run as 'python bug.py'.

[code]

Reproducing debugging commands:
[code]

`one` is expected to be 1.0, but is printed

[2021-12-02 22:42] sklam commented on #7615
Looks like code path going through [`OmittedArg`](https://github.com/numba/numba/blob/3ec12030586647b0b3b81918256eaa4d11d63780/numba/core/dispatcher.py#L71) is a slow path. `OmittedArg` is used to wrap default arguments.

[2021-12-02 22:57] sklam commented on #7615
The problem seems to have existed for as far back as numba 0.35.0. That's the earliest accessible version in the current version of conda.

[2021-12-02 22:59] jrenaud90 commented on #7615
Gotcha, I assume that it is not intended to function this way?

[2021-12-02 23:13] sklam commented on #7616
There were a few recent GDB related PRs merged. This might be fixed. Need to verify on the latest commit.

[2021-12-02 23:36] isVoid commented on #7616
Hey @sklam, just built numba from the latest commit and noticed that the above behavior still exists.

[2021-12-02 23:48] sklam commented on #7611
Pretty sure it is problem due to mutating list in parallel region as noted by @stuartarchibald. This issue is tracking at https://github.com/numba/numba/issues/2408

Problem seems to come from:
[code]
`filtered` and `ndarray_1d` end up being strided by 400 bytes. The numba implementation is generating a loop that operates on such layout and is very inefficient.

I believe nowadays numpy would do a

[2021-12-03 05:44] thipokKub commented on #5706
Will this work?

1. Convert Python -> `numba` -> `LLVM-IR`
2. Convert `LLVM-IR` -> `SPIR-V` ([KhronosGroup/SPIRV-LLVM-Translator](https://github.com/KhronosGroup/SPIRV-LLVM-Translator))
3. Run `SPIR-V` on vulkan backend [KhronosGroup/SPIRV-Tools](https://github.com/KhronosGroup/SPIRV-Tools)
4. Convert vulkan backend API to metal API [KhronosGroup/MoltenVK](https://github.com/KhronosGroup/MoltenVK)

[2021-12-03 09:26] stuartarchibald commented on #7616
Thanks for reporting this. I think this is down to a mixture of constant propagation/rewrites and variable lifetimes. This is the Numba IR that is lowered. Note how `one` is defined and then immediately deleted, and the `arrayexpr` doesn't refer to `one` but instead refers to a propagated `const(float, 1.0)`.
[code]
One of the improvements to debugging on `HEAD` (that will be in 0.55) is accessed

[2021-12-03 15:06] seibert commented on #7615
Correct, this is definitely a performance bug, although a long standing one, apparently.

[2021-12-03 15:18] stuartarchibald opened #7620 "clamp tbb to 2021 on the 0.55 release branch"
Reminder to clamp TBB to 2021 on the 0.55 release branch.
Here:
https://github.com/numba/numba/blob/db8defef546009694491a03837acf8e91a7195b5/buildscripts/condarecipe.local/meta.yaml#L52
and here:
https://github.com/numba/numba/blob/db8defef546009694491a03837acf8e91a7195b5/buildscripts/condarecipe.local/meta.yaml#L43
and here:
https://github.com/numba/numba/blob/db8defef546009694491a03837acf8e91a71

[2021-12-03 23:14] #7530 closed

[2021-12-06 09:09] Jasha10 commented on #7424
I am commenting to confirm that this issue is still reproducible via the [comment](https://github.com/numba/numba/issues/7424#issuecomment-933087306) posted above.

[2021-12-06 10:15] esc commented on #7424
@Jasha10 thank you for the comment. I can confirm that I am able to reproduce this. I have labeled it as a feature request for now. Thank you again for the ping.

[2021-12-06 10:21] esc commented on #7531
Closing this issue as no new information has been provided. It is assumed that the above resolved the reported issue, if this is not the case please reopen the issue with new information. Many thanks.

[2021-12-06 10:21] #7531 closed

[2021-12-06 16:59] mhostetter opened #7623 "NumbaIRAssumptionWarning: variable 'a.1.1' is not in scope."
I encountered this warning (bug?) with Numba 0.54.0 and 0.54.1 in my Python package https://github.com/mhostetter/galois/issues/178. A minimal reproducer is included below.

I'm not sure why the "pedantic check" is complaining, but it seems related to the lambda function and the fact the lambda arguments `a` and `b` are the same as the JIT function arguments. When the lamba arguments are renamed t

[2021-12-06 17:31] gmarkall opened #7624 "Compare DeviceArray and CuPy arrays"
In many cases using CuPy arrays is preferable to using Numba's device arrays, and I generally recommend people to use CuPy arrays and functionality, and write/call Numba CUDA kernels on them for functionality that's specific to their use case or otherwise unavailable in CuPy. However, the extent of overlap between CuPy arrays and Numba device arrays is unclear.

This issue records that we should:

[2021-12-06 17:33] quasiben commented on #7624
@kkraus14 are you aware of any folks using Numba without CuPy or would be impacted if Numba CUDA depended on CuPy support?

[2021-12-06 17:41] seibert commented on #7624
Also related: We should prod someone on the cuNumeric side to get `__cuda_array_interface__` support as well.

[2021-12-06 17:44] seibert commented on #7624
I think CuPy has coverage of all the different ways of allocating memory (pinned, managed, etc).

The only other difference might be availability of CuPy for less popular CUDA platforms.  Are CuPy packages available for these platforms?:
* Windows x86_64
* Linux aarch64
* Linux ppc64le

[2021-12-06 17:47] gmarkall commented on #4266
Potentially useful examples:

- [ ] Use of `@jit` function from both CPU- and GPU-jitted functions
- [ ] CuPy / Numba interop examples
- [ ] Transcribe / translate appropriate examples from CUDA release notebooks: https://github.com/numba/numba-examples/tree/master/notebooks

[2021-12-06 17:48] quasiben commented on #4266
@seanlaw do you have an thoughts on good examples of using numba GPU kernels ?

[2021-12-06 18:15] quasiben commented on #7624
On [PyPI](https://pypi.org/project/cupy-cuda111/#files) I see Win 64/manylinux x86_64 coverage and on [Anaconda.org](https://anaconda.org/conda-forge/cupy/files) I see coverage of win 64/aarch 64/ppc64le .

Still, I think it's a good question to ask if there are users who use Numba CUDA without CuPy

[2021-12-06 18:16] seanlaw commented on #4266
@quasiben I don't have any particularly good examples that are easily approachable but, from my limited experience, I've found that the biggest challenge/barrier to entry for users is being able identify appropriate SIMD scenarios to fit the GPU programming paradigm. It almost feels like there are some basic patterns that the user needs to get exposed to first and then, later, be able to recognize

[2021-12-06 21:13] mmccarty commented on #7624
@seibert - Thanks for the prod! It is on the roadmap.

[2021-12-06 21:48] gmarkall commented on #7624
Some other references:

-  https://github.com/rapidsai/rmm/issues/227 - the discussion on this issue seems to be converging towards implementation of a generic GPU `Array` class (though note this is not exactly aligned with the Numba device arrays / CuPy arrays, but instead represents a generic untyped memory buffer on the GPU.
- Python Data Array API: https://data-apis.org/array-api/latest/

[2021-12-06 21:53] gmarkall commented on #7624
Having had a quick look at the definition of [`Array`](https://github.com/rapidsai/ucx-py/blob/6e0f28ff11d1703cbf40f55ba81374def7c2073b/ucp/_libs/arr.pxd#L10) mentioned in rapidsai/rmm#227 - it would be quite straightforward to make it possible to pass them directly to `@cuda.jit` kernels - the information within is a superset of that held by the [`arystruct_t`](https://github.com/numba/numba/blob

[2021-12-07 00:09] #7325 closed

[2021-12-07 00:09] #7526 closed

[2021-12-07 00:09] #7600 closed

[2021-12-07 10:37] gmarkall commented on #6887
Now that #7359 is merged, this works. (cc @luk-f-a)

[2021-12-07 10:37] #6887 closed

[2021-12-07 10:40] gmarkall commented on #6473
Now that #7359 is merged, this is fixed. (cc @luk-f-a)

[2021-12-07 10:40] #6473 closed

[2021-12-07 10:56] gmarkall commented on #3158
xref / possible duplicate: #1469

[2021-12-07 11:18] gmarkall commented on #1469
Possible starter patch for this and #3158

[code]

with this, the following:

[code]

prints:

[code]

with the second output demonstrating that we've managed to sum the dimensions through the "nested nested" array.

As noted on #3158, the patch works around the issue, but a rethink of the design might be better. E.g. when discussing #7359, which fixes a lot of similar issues, it was suggested tha

[2021-12-07 11:30] gmarkall commented on #1319
I see similar timings.

In the `cdist_func` version, the loop is unrolled 8 times in `sqeuclidean`, whereas it is fully rolled in `cdist` - I'd imagine this goes some way towards explaining the difference in speed.

[2021-12-07 11:32] gmarkall commented on #1315
I think #1319 is no longer relevant here - fairly sophisticated refcount removal was added to llvmlite quite some time ago, and the original issue reported in #1319 is no longer present.